header.site-header
  .container
    .header-content
      a.header-logo(href="/")
        img(src="../assets/logo.svg", alt="Облстройинвест")

      nav.header-nav
        ul
          li
            a(href="/about") О КОМПАНИИ
          li.dropdown
            a(href="/services") УСЛУГИ
            ul.dropdown-menu
              li
                a(href="/services/construction") Строительство
              li
                a(href="/services/design") Проектирование
              li
                a(href="/services/consulting") Консалтинг
          li
            a(href="/projects") ПРОЕКТЫ
          li
            a(href="/career") КАРЬЕРА
          li
            a(href="/contacts") КОНТАКТЫ

      .header-actions
        button.search-btn
          svg(width="20", height="20", viewBox="0 0 24 24")
            path(d="M15.5 14h-.79l-.28-.28C19.72 12.69 21 11.29 21 9.5c0-2.69-2.18-4.87-4.87-4.87-2.69 0-4.87 2.18-4.87 4.87 0 1.79 1.29 3.19 3.19 4.28l.28.28h-.79m-10.5 10.5c2.69 0 4.87-2.18 4.87-4.87 0-2.69-2.18-4.87-4.87-4.87S2 12.31 2 15s2.18 4.87 4.87 4.87z")

        a.lang-switch(href="#" data-lang="en") EN

        a.btn-primary(href="/callback") ЗАКАЗАТЬ ЗВОНОК
          svg(width="16", height="16", viewBox="0 0 24 24")
            path(d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z")