include ../mixins/button.pug

.call-container
  .footer-column.footer-form
    p.footer-column-form-text Оставьте свои данные — мы свяжемся с вами
    form.footer-contact-form(action="#" method="POST")
      +inputField('Имя', '', 'firstName', 'Сергей')
      +inputField('Телефон', '', 'phone', '+7 999 123-45-67')
      +inputField('Коментарий', '', 'comment', '')
      p Отправляя свои данные вы соглашаетесь с <a href="#">Пользовательским соглашением</a> и <a href="#">Политикой в отношении персональных данных</a>
      +button('Отправить', 'primary')