.about {

  .hero-other__title {
    max-width: 72rem;
  }

  .hero-other__pdf {
    width: 12.5rem;
  }

  &__info {

    margin-bottom: 20rem;

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 8rem;
    }

    &__container {
      
      display: flex;
      justify-content: space-between;

      &__text {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 72rem;

        .about__info__container__image {
          display: none;
        }

        &__list {

          display: flex;
          flex-direction: column;
          gap: 2.4rem;

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 110%;
            color: var(--text);
          }

          a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--blue);
          }
        }

        &__mission {

          display: flex;
          gap: 2.4rem;

          svg {
            width: 2.4rem;
            height: 2.3rem;
          }

          .line {
            border-right: 1px solid var(--line-light);
            height: 100%;
          }

          &__text {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.4rem;
            width: 50rem;

            p:first-child {
              font-family: var(--second-family);
              font-weight: 600;
              font-size: 2.4rem;
              line-height: 110%;
              text-transform: uppercase;
              color: var(--blue);
            }

            p:last-child {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 1.8rem;
              line-height: 110%;
              color: var(--grey-text);
            }
          }
        }
      }

      &__image {
        img {
          border-radius: 16px;
          width: 85.2rem;
          height: 61.5rem;
        }
      }
    }
  }

  &__numbers {

    margin-bottom: 25.5rem;

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 7rem;
    }

    &__list {

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 28rem;

      &__item {

        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        position: relative;

        p:first-child {
          font-family: var(--second-family);
          font-weight: 500;
          font-size: 12rem;
          color: var(--blue);
          text-align: center;
        }

        p:last-child {
          font-family: var(--second-family);
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 120%;
          text-transform: uppercase;
          color: var(--grey-text);
          text-align: center;
        }

        div {
          border: 1px solid var(--line-light);
          width: 100%;
        }

        .percent {
          position: absolute;
          top: 0;
          right: -8px;
          font-family: var(--second-family);
          font-weight: 500;
          font-size: 4rem;
          color: var(--blue);
        }
      }

      &__item:first-child {
        p:nth-last-child(2) {
          display: none;
        }
      }
    }
  }

  &__managment {

    margin-bottom: 20rem;

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 16rem;
    }

    &__list {

      display: flex;
      justify-content: space-between;

      &__item {

        border-radius: 16px;
        background: var(--white);
        padding: 6.8rem 6.1rem;


        &__container {

          display: flex;
          gap: 2.3rem;
          width: 43.9rem;
          height: 12.4rem;

          .text-block {

            display: flex;
            flex-direction: column;
            gap: 2rem;

            p:first-child {
              font-family: var(--second-family);
              font-weight: 600;
              font-size: 2.4rem;
              line-height: 110%;
              text-transform: uppercase;
              color: var(--blue);
            }

            p:last-child {
              font-family: var(--font-family);
              font-weight: 300;
              font-size: 2.4rem;
              line-height: 120%;
              color: var(--grey-text);
            }

            div {
              border: 1px solid var(--line-light);
              width: 100%;
            }

          }
        }
      }
    }
  }

  .specific-project__video {

    position: relative;
    display: block;

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 8rem;
    }

    &__description {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 110%;
      color: var(--text);
      margin-bottom: 6rem;
      width: 83.1rem;
    }

    &__video {

      margin-bottom: 20rem;
      width: 100%;
      height: 82rem;
      position: relative;
      display: block;
      border-radius: 16px;

      .video-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/video2.png');
        background-size: cover;
        background-position: center;
        pointer-events: none;
        z-index: 1;
        border-radius: 16px;
      }

      video {
        display: block;
        width: 100%;
        height: 82rem;
      }

      video:is(:playing, [data-playing]) ~ .video-poster,
      video[playing] ~ .video-poster {
        display: none;
      }
    }
  }

  &__portfolio {

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 8rem;
    }

    &__list {

      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 6rem;

      &__item {

        width: calc(33% - 1rem);

        img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__pagination {

      display: flex;
      gap: 2.4rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 11.6rem;

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 120%;
        color: var(--grey-text);
      }
    }
  }

  &__portfolio__mobile {
    display: none;
  }

  &__slider {

    margin-bottom: 20rem;

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 8rem;
    }
      
    .swiper {
      width: 100%;
      padding-bottom: 6.4rem;
    }
  
    .swiper-slide {

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 41.7rem;
        height: 60rem;
      }
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      top: auto !important;
      bottom: 0 !important;
      color: #243984;
      width: 3.2rem;
      height: 3.2rem;
      
      svg {
        width: 1.2rem;
        height: 2rem;
      }
    }
  
    .swiper-button-prev {
      left: 43% !important;
    }
  
    .swiper-button-next {
      right: 43% !important;
    }
    
    .main-pagination {
    
      bottom: 0.8rem !important;
    
      .swiper-pagination-bullet {
      
        background: #dfe2e7;
        opacity: 1;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.5rem;
      
        &-active {
          background: var(--blue);
        }
      
        &-disabled {
          color: #DFE2E7;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about {

    &__info {

      margin-bottom: 16rem;

      &__title {
        font-size: 3.2rem;
        margin-bottom: 6.4rem;
      }

      &__container {

        flex-direction: column;

        &__text {

          width: 100%;

          .about__info__container__image {

            display: flex;
            margin-bottom: 4.8rem;

            img {
              width: 100%;
              height: 60rem;
            }
          }

          &__list {

            gap: 3.2rem;
            margin-bottom: 4.8rem;

            p {
              font-size: 2.8rem;
            }
          }

          &__mission {

            gap: 2.4rem;

            svg {
              width: 4.8rem;
              height: 4.6rem;
            }

            .line {
              height: inherit;
            }

            &__text {

              gap: 3.2rem;
              width: 100%;

              p:first-child {
                font-size: 3.2rem;
              }

              p:last-child {
                font-size: 2.8rem;
              }
            }
          }
        }

        &__image {
          display: none;
        }
      }
    }

    &__numbers {

      margin-bottom: 16rem;

      &__title {
        font-size: 3.2rem;
        margin-bottom: 6.4rem;
      }

      &__list {

        gap: 3.2rem;

        &__item:first-child {

          p:last-child {
            display: none;
          }
          
          p:nth-last-child(2) {
            display: flex;
            justify-content: center;
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 120%;
            text-transform: uppercase;
            text-align: center;
            color: var(--grey-text);
          }
        }

        &__item {

          gap: 4.8rem;
          width: 20.6rem;

          p:first-child {
            font-size: 6.4rem;
          }

          .percent {
            font-size: 4rem;
            right: 1rem;
          }

          p:last-child {
            font-size: 2.4rem;
          }
        }
      }
    }

    &__managment {

      margin-bottom: 16rem;

      &__title {
        font-size: 3.2rem;
        margin-bottom: 6.4rem;
      }

      &__list {

        flex-direction: column;
        gap: 4.8rem;

        &__item {

          padding: 6.4rem 4.8rem;

          &__container {

            gap: 3.2rem;
            width: 100%;
            height: auto;

            .text-block {

              gap: 3.2rem;

              p:first-child {
                font-size: 3.2rem;
              }

              p:last-child {
                font-size: 3.6rem;
              }
            }
          }
        }
      }
    }

    .specific-project__video {

      &__title {
        font-size: 3.2rem;
        margin-bottom: 6.4rem;
      }

      &__description {
        font-size: 2.8rem;
        margin-bottom: 4.8rem;
        width: 100%;
      }

      &__video {
        margin-bottom: 16rem;
        height: 60rem;

        video {
          height: 60rem;
        }
      }
    }

    &__portfolio {
      &__title {
        font-size: 3.2rem;
        margin-bottom: 6.4rem;
      }
    }

    .desktop {
      display: none;
    }

    &__portfolio__mobile {

      display: block;

      &__title {

        margin-bottom: 6.4rem;

        p {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 3.2rem;
          line-height: 110%;
          text-transform: uppercase;
          color: var(--blue);
        }
      }

      .detail-news__image-slider {
        margin-bottom: 16rem;
      }

      .detail-news__image-slider__slider {

        padding-bottom: 8.4rem;

        .swiper-wrapper {
          display: flex;
          align-items: center;
        }
      
        .swiper-slide {
          width: 56.2rem;
          height: auto;
        
          img {
            width: 100%;
            height: 100%;
          }
        }
      
        .swiper-button-prev,
        .swiper-button-next {
          top: auto !important;
          bottom: 0 !important;
          color: #243984;
          width: 3.2rem;
          height: 3.2rem;

          svg {
            width: 1.2rem;
            height: 2rem;
          }
        }
      
        .swiper-button-prev {
          left: 30% !important;
        }
      
        .swiper-button-next {
          right: 30% !important;
        }

        .main-pagination {
        
          bottom: 0.2rem !important;
        
          .swiper-pagination-bullet {
          
            background: #dfe2e7;
            opacity: 1;
            width: 1.2rem;
            height: 1.2rem;
            margin: 0.5rem;
          
            &-active {
              background: var(--blue);
            }
          
            &-disabled {
              color: #DFE2E7;
              opacity: 1;
            }
          }
        }
      }
    }

    &__slider {

      margin-bottom: 8rem;

      &__title {
        font-size: 3.2rem;
        margin-bottom: 6.4rem;
      }

      .swiper-wrapper {
        .swiper-slide {

          height: 74.8rem;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }

      .swiper-button-prev {
        left: 30% !important;
      }
    
      .swiper-button-next {
        right: 30% !important;
      }
    }
  }
}