.call-container {

  display: none;

  position: absolute;
  top: 200px;
  width: 55rem;
  height: 55.7rem;
  background-color: var(--footerheader);
  padding: 4rem 6rem;
  border-radius: 16px;
  
  .footer-column {
    p:first-child {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 120%;
      color: var(--white);
      margin-bottom: 3.2rem;
    }

    &.footer-form {
      p:nth-last-child(2) {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 3.2rem;
      }
      .footer-column-form-text {
        white-space: nowrap;
      }
    }

    p:last-child {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 120%;
    }
    &.footer-form {
      p:first-child {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 0.8rem;
      }
      p {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 120%;
        margin-bottom: 2.4rem;
      }
      form p {
        font-family: var(--font-family);
        font-weight: 400 !important;
        font-size: 1.2rem !important;
        text-transform: none !important;
        line-height: 120%;
      }
      form p a {
        color: var(--white);
        transition: all 0.2s ease;
        &:hover {
          color: var(--primary);
        }
      }
      form .btn {
        width: 100%;
        justify-content: center;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 2.4rem;
        a {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 120%;
          transition: all 0.2s ease;
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {

}