.contacts {

  &__breadcrumbs {

    margin-top: 24.8rem;
    display: flex;
    gap: 0.8rem;
    margin-bottom: 6rem;

    p:first-child {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--grey-text);
      border-right: 1px solid var(--grey-text);
      padding-right: 0.8rem;
    }

    p:last-child {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--grey-text);
    }
  }

  &__title-line {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12rem;

    p:first-child {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 8rem;
      line-height: 110%;
      color: var(--text);
    }

    p:last-child {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 120%;
      text-align: right;
      color: var(--grey-text);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25rem;

    .list__card {
      div {
        box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.12);
        width: 114.5rem;
        height: 77.8rem;
        border-radius: 16px;
      }
    }
  }

  .info__list {

    display: flex;
    flex-direction: column;
    gap: 4.7rem;

    .list__item {

      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      border-radius: 16px;
      padding: 1.6rem 3.2rem;
      box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.12);
      background: var(--white);
      width: 100%;

      p:first-child {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--text);
      }

      p:last-child {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 110%;
        color: var(--text);
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 768px) {
  .contacts {

    &__breadcrumbs {

      margin-top: 25.8rem;
      margin-bottom: 4.8rem;

      p:first-child {
        font-size: 2.4rem;
      }

      p:last-child {
        font-size: 2.4rem;
      }
    }

    &__title-line {

      flex-direction: column;
      gap: 4.8rem;
      align-items: flex-start;
      margin-bottom: 14.8rem;

      p:first-child {
        font-size: 8rem;
      }

      p:last-child {
        font-size: 3.6rem;
        text-align: start;
      }
    }

    &__info {

      flex-direction: column;
      gap: 3.2rem;
      margin-bottom: 8rem;

      .info__list {

        gap: 3.2rem;

        .list__item {

          padding: 3.2rem 4.8rem;
          gap: 3.2rem;

          p:first-child {
            font-size: 2.4rem;
          }

          p:last-child {
            white-space: wrap;
            font-size: 2.8rem;
          }
        }
      }

      .list__card {
        div {
          width: 100%;
          height: 60rem;
        }
      }
    }
  }
}