.detail-news {

  .hero-other__content {

    .hero-other__title {
      max-width: 90rem;
    }

    .btn {
      display: none;
    }

    .hero-other__pdf-doc {
      display: none;
    }

    .hero-other__subtitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.6rem;
      color: var(--light-text);

      display: flex;
      justify-content: space-between;
      max-width: 52.9rem;
    }
  }

  &__description {

    margin-bottom: 8rem;

    .title {

      margin-bottom: 8rem;

      p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--blue);
      }
    }

    .list {

      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-width: 100rem;

      .item {

        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        .name {
          p {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 100%;
            color: var(--text);
          }
        }

        .text {
          
          display: flex;
          flex-direction: column;
          gap: 2.4rem;

          p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 110%;
            color: var(--text);
          }
        }
      }
    }
  }

  &__image-slider {

    margin-bottom: 20rem;

    .detail-news__image-slider__slider {

      padding-bottom: 8.4rem;

      .swiper-wrapper {
        display: flex;
        align-items: center;
      }
    
      .swiper-slide {
        width: 56.2rem;
        height: auto;
      
        img {
          width: 100%;
          height: 100%;
        }
      }
    
      .swiper-button-prev,
      .swiper-button-next {
        top: auto !important;
        bottom: 0 !important;
        color: #243984;
        width: 3.2rem;
        height: 3.2rem;
        
        svg {
          width: 1.2rem;
          height: 2rem;
        }
      }
    
      .swiper-button-prev {
        left: 43% !important;
      }
    
      .swiper-button-next {
        right: 43% !important;
      }
      
      .main-pagination {
      
        bottom: 0.2rem !important;
      
        .swiper-pagination-bullet {
        
          background: #dfe2e7;
          opacity: 1;
          width: 1.2rem;
          height: 1.2rem;
          margin: 0.5rem;
        
          &-active {
            background: var(--blue);
          }
        
          &-disabled {
            color: #DFE2E7;
            opacity: 1;
          }
        }
      }
    }
  }

  &__video {
    .specific-project__video__video {
      .video-poster {
        background-image: url('../assets/images/video3.png');
      }
    }
  }

  
}