// Manrope

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Bold.eot');
  src: local('Manrope Bold'), local('Manrope-Bold'),
       url('../assets/fonts/Manrope/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Manrope/Manrope-Bold.woff2') format('woff2'),
       url('../assets/fonts/Manrope/Manrope-Bold.woff') format('woff'),
       url('../assets/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Semibold.eot');
  src: local('Manrope Semibold'), local('Manrope-Semibold'),
       url('../assets/fonts/Manrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Manrope/Manrope-Semibold.woff2') format('woff2'),
       url('../assets/fonts/Manrope/Manrope-Semibold.woff') format('woff'),
       url('../assets/fonts/Manrope/Manrope-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Regular.eot');
  src: local('Manrope Regular'), local('Manrope-Regular'),
       url('../assets/fonts/Manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
       url('../assets/fonts/Manrope/Manrope-Regular.woff') format('woff'),
       url('../assets/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Light.eot');
  src: local('Manrope Light'), local('Manrope-Light'),
       url('../assets/fonts/Manrope/Manrope-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Manrope/Manrope-Light.woff2') format('woff2'),
       url('../assets/fonts/Manrope/Manrope-Light.woff') format('woff'),
       url('../assets/fonts/Manrope/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Thin.eot');
  src: local('Manrope Thin'), local('Manrope-Thin'),
       url('../assets/fonts/Manrope/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Manrope/Manrope-Thin.woff2') format('woff2'),
       url('../assets/fonts/Manrope/Manrope-Thin.woff') format('woff'),
       url('../assets/fonts/Manrope/Manrope-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Medium.eot');
  src: local('Manrope Medium'), local('Manrope-Medium'),
       url('../assets/fonts/Manrope/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
       url('../assets/fonts/Manrope/Manrope-Medium.woff') format('woff'),
       url('../assets/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-ExtraBold.eot');
  src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
       url('../assets/fonts/Manrope/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Manrope/Manrope-ExtraBold.woff2') format('woff2'),
       url('../assets/fonts/Manrope/Manrope-ExtraBold.woff') format('woff'),
       url('../assets/fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

// Fira Sans

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-Light.eot');
  src: local('Fira Sans Light'), local('FiraSans-Light'),
       url('../assets/fonts/FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-Light.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-Light.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-Regular.eot');
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('../assets/fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-LightItalic.eot');
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'),
       url('../assets/fonts/FiraSans/FiraSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-LightItalic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-LightItalic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-Thin.eot');
  src: local('Fira Sans Thin'), local('FiraSans-Thin'),
       url('../assets/fonts/FiraSans/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-Thin.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-Thin.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-ThinItalic.eot');
  src: local('Fira Sans Thin Italic'), local('FiraSans-ThinItalic'),
       url('../assets/fonts/FiraSans/FiraSans-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-ThinItalic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-ThinItalic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-ExtraBoldItalic.eot');
  src: local('Fira Sans ExtraBold Italic'), local('FiraSans-ExtraBoldItalic'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraBoldItalic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-SemiBold.eot');
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'),
       url('../assets/fonts/FiraSans/FiraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-SemiBold.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-ExtraLightItalic.eot');
  src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraLightItalic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraLightItalic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-ExtraBold.eot');
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraBold.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraBold.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-BlackItalic.eot');
  src: local('Fira Sans Black Italic'), local('FiraSans-BlackItalic'),
       url('../assets/fonts/FiraSans/FiraSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-BlackItalic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-BlackItalic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
       url('../assets/fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-Medium.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-Medium.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-MediumItalic.eot');
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'),
       url('../assets/fonts/FiraSans/FiraSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-MediumItalic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-MediumItalic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-SemiBoldItalic.eot');
  src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'),
       url('../assets/fonts/FiraSans/FiraSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-SemiBoldItalic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-SemiBoldItalic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
       url('../assets/fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-Black.eot');
  src: local('Fira Sans Black'), local('FiraSans-Black'),
       url('../assets/fonts/FiraSans/FiraSans-Black.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-Black.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-Black.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-BoldItalic.eot');
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
       url('../assets/fonts/FiraSans/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-BoldItalic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-Italic.eot');
  src: local('Fira Sans Italic'), local('FiraSans-Italic'),
       url('../assets/fonts/FiraSans/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-Italic.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-Italic.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans/FiraSans-ExtraLight.eot');
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraLight.woff2') format('woff2'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraLight.woff') format('woff'),
       url('../assets/fonts/FiraSans/FiraSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}