.site-footer {
  background: var(--footerheader);
  color: var(--light-text);

  .footer-logo {  
    padding: 30px 0px 40px 0px;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 41.6rem 11.3rem 21.9rem 26.9rem;
    gap: 19.8rem;
    margin-bottom: 4rem;
    position: relative;

    .footer-column {
      p:first-child {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 24px;
      }

      p:nth-last-child(2) {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 120%;
        text-transform: uppercase;
        color: var(--white);
        margin-top: 15px;
        margin-bottom: 32px;
      }

      p:last-child {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 120%;
      }

      &.footer-form {

        p:first-child {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 120%;
          margin-bottom: 8px;
        }

        p {
          font-family: var(--second-family);
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 120%;
          margin-bottom: 24px;
        }

        form p {
          font-family: var(--font-family);
          font-weight: 400 !important;
          font-size: 1.2rem !important;
          text-transform: none !important;
          line-height: 120%;
        }

        form p a {
          color: var(--white);
          transition: all 0.2s ease;

          &:hover {
            color: var(--primary);
          }
        }

        form .btn {
          width: 100%;
          justify-content: center;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 2.4rem;

          a {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 120%;
            transition: all 0.2s ease;

            &:hover {
              color: var(--primary);
            }
          }
        }
      }

      .contact-item {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        margin-bottom: 2.5rem;

        span {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 120%;
        }
      }
    }
  }

  .footer-links {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    cursor: pointer;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;

    &:hover a {
      color: var(--primary);
    }

    a {
      display: flex;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 120%;
      text-align: right;
      transition: color 0.2s ease;
    }

    .pdf-badge {
      background: #e2231a;
      width: fit-content;
      padding: 22.5px 17.5px;
      border-radius: 4px;

      font-family: var(--font-family);
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 120%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--white);
    }
  }

  .footer-bottom {
    border-top: 1px solid var(--line-light);
    padding-top: 2.4rem;
    padding-bottom: 2.6rem;
    font-size: 1.2rem;

    .bottom-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .copyright {
        font-weight: 400;
        font-size: 1.2rem;
        color: var(--line-light);

        a {
          text-decoration: underline;
          text-decoration-skip-ink: none;
          transition: all 0.2s ease;
        }

        a:hover {
          color: var(--primary);
        }

      }

      .legal-links {
        display: flex;
        gap: 9.7rem;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 110%;
        color: var(--line-light);

        a {
          text-decoration: none;
          transition: all 0.2s ease;
          height: fit-content;


          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
}