.general-contractor {
  .hero-other__subtitle {
    margin-bottom: 6.4rem;
  }

  .hero-other__pdf-doc {
    display: none;
  }

  .info-block {

    display: flex;
    justify-content: space-between;

    &__text {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 120%;
      color: var(--text);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 75rem;
    }

    &__image {
      img {
        width: 85.4rem;
        height: 57.5rem;
      }
    }
  }

  .info-block:first-child {
    margin-bottom: 8rem;
  }

  .info-block:nth-child(2) {
    margin-bottom: 20rem;

    .info-block__image {
      img {
        width: 70.8rem;
      }
    }

    .info-block__text  {
      margin-right: 10rem;
    }
  }

  .service-list {

    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-bottom: 20rem;

    &__top-title {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
    }

    &__item {
      background-color: var(--white);
      border-radius: 16px;
      overflow: hidden;

      .service-list__roster {
        padding: 3.6rem 3.2rem 2.4rem;
        overflow: hidden;
        opacity: 1;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;

        &.is-collapsed {
          max-height: 0;
          opacity: 0;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &.is-expanded {
        .service-list__icon {
          .service-list__icon-cross {
            opacity: 0;
            transform: rotate(90deg);
          }
        }
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.4rem 3.2rem;
      cursor: pointer;
      background-color: var(--white);

      p {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--blue);
      }

      .service-list__icon {
        flex-shrink: 0;
        width: 3.2rem;
        height: 3.2rem;
        display: block;

        path {
          stroke: #243984;
          stroke-width: 4;
          stroke-linecap: round;
          fill: none;
          transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .service-list__icon-cross {
          opacity: 1;
          transform-origin: center;
        }
      }
    }

    &__roster {

      padding: 2.4rem 3.2rem;
      opacity: 1;
      transition: max-height 0.3s ease-in, opacity 0.3s ease-in;

      &__item {
        margin-bottom: 2.4rem;

        &:last-child {
          margin-bottom: 0;
        }

        &__container {

          display: flex;
          flex-direction: column;
          gap: 1.6rem;
          align-items: flex-start;

          .name {
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 110%;
            text-transform: uppercase;
            color: var(--blue);
            margin-bottom: 2.4rem;
          }

          .title {
            flex-shrink: 0;
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 110%;
            text-transform: uppercase;
            color: var(--text);
          }

          .description {
            flex: 1;
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 120%;
            color: var(--grey-text);
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .general-contractor {

    .hero-other__subtitle {
      margin-bottom: 8rem;
    }

    .hero-other__content {
      padding-bottom: 0;
    }

    .info-block {
      
      flex-direction: column;
      gap: 4.8rem;

      &__text {
        width: 100%;
        font-size: 3.6rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
      }

      &__image {
        img {
          width: 100% !important;
          height: 60rem;
        }
      }
    }

    .info-block:first-child {
      margin-bottom: 6.4rem;
    }

    .info-block:nth-child(2) {

      margin-bottom: 16rem;

      .info-block__image{
        order: 2;
      }
    }

    .service-list {

      gap: 6.4rem;
      margin-bottom: 8rem;

      &__top-title {
        font-size: 3.2rem;
      }

      &__item {
        .service-list__roster {
          padding: 2.4rem 3.2rem 2.4rem;
        }
      }

      &__title {

        padding: 2.4rem 3.2rem;

        p {
          font-size: 3.2rem;
        }

        .service-list__icon {
          width: 4.8rem;
          height: 4.8rem;
        }      
      }

      &__roster {
        &__item {

          margin-bottom: 3.6rem;

          &__container {

            gap: 3.2rem;

            .name {
              font-size: 3.2rem;
            }

            .title {
              font-size: 3.2rem;
            }

            .description {
              font-size: 2.8rem;
            }

          }
        }
      }
    }
  }
}