.site-header {
  background: var(--footerheader);
  padding: 16px 48px !important;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  max-width: 1824px;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .start-section {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .header-logo {
    display: block;
    img {
      height: 85px;
      width: auto;
    }
  }

  .header-nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 3.2rem;

      li {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        &.dropdown {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
        }

        &.dropdown svg g path {
          transition: stroke 0.2s ease;
        }

        &.dropdown:hover svg g path {
          stroke: var(--primary);
        }

        &.dropdown:hover .dropdown-menu {
          display: flex;
          flex-direction: column;
        }

        &.dropdown:hover ul a {
          color: var(--white);
        }

        &.dropdown .dropdown-menu li:hover a {
          color: var(--primary);
        }

        a {
          color: white;
          text-transform: uppercase;
          font-weight: normal;
          line-height: 120%;
          transition: color 0.2s ease;
          font-size: 1.8rem;

          &:hover {
            color: var(--primary);
          }
        }

        &.dropdown:hover {
          cursor: pointer;

          a {
            color: var(--primary);
          }
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          padding: 8px 12px;
          gap: 16px;
          top: 100%;
          left: 0;
          background: var(--footerheader);
          min-width: 114px;
          z-index: 1000;

          li {
            a {
              font-size: 1.6rem;
              display: block;
              color: var(--white);
            }
          }
        }
      }
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;

    .search-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

      svg g path {
        transition: all 0.2s ease;
      }

      &:hover svg g path {
        stroke: var(--primary);
      }
    }

    .lang-switch {
      color: white;
      text-decoration: none;
      transition: color 0.2s ease;
      font-size: 1.8rem;
      font-weight: normal;
      line-height: 120%;

      &:hover {
        color: var(--primary);
      }
    }
  }
}