.site-header {

  border-radius: 16px;
  background: var(--footerheader);
  padding: 1.6rem 4.8rem !important;
  position: fixed;
  top: 16px;
  left: 50%;
  z-index: 110;

  width: calc(100% - 32px);
  margin: 0 auto;
  left: 0;
  right: 0;

  .burger-menu {
    display: none;
  }

  .header-mobile {
    display: none;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .start-section {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  .header-logo {
    display: block;
    img {
      height: 8.5rem;
      width: auto;
    }
  }

  .header-nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 3.2rem;

      li {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        &.dropdown {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
        }

        &.dropdown svg g path {
          transition: stroke 0.2s ease;
        }

        &.dropdown:hover svg g path {
          stroke: var(--primary);
        }

        &.dropdown:hover .dropdown-menu {
          display: flex;
          flex-direction: column;
        }

        &.dropdown:hover ul a {
          color: var(--white);
        }

        &.dropdown .dropdown-menu li:hover a {
          color: var(--primary);
        }

        a {
          color: white;
          text-transform: uppercase;
          font-weight: normal;
          line-height: 120%;
          transition: color 0.2s ease;
          font-size: 1.8rem;

          &:hover {
            color: var(--primary);
          }
        }

        &.dropdown:hover {
          cursor: pointer;

          a {
            color: var(--primary);
          }
        }

        .dropdown-menu {
          display: none;
          position: absolute;
          padding: 8px 12px;
          gap: 16px;
          top: 100%;
          left: 0;
          background: var(--footerheader);
          min-width: 114px;
          z-index: 1000;

          li {
            a {
              font-size: 1.6rem;
              display: block;
              color: var(--white);
            }
          }
        }
      }
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 20px;

    .search-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

      svg g path {
        transition: all 0.2s ease;
      }

      &:hover svg g path {
        stroke: var(--primary);
      }
    }

    .lang-switch {
      color: white;
      text-decoration: none;
      transition: color 0.2s ease;
      font-size: 1.8rem;
      font-weight: normal;
      line-height: 120%;

      &:hover {
        color: var(--primary);
      }
    }
  }

  @media (max-width: 768px) {

    border-radius: 12px;
    padding: 1.6rem 3.2rem !important;
    transform: none;
    z-index: 110;

    .header-nav {
      display: none;
    }

    .end-section {
      display: none;
    }

    .header-mobile {

      display: flex;

      svg {

        width: 5.2rem;
        height: 5.2rem;

        path {
          width: 5.2rem;
          height: 5.2rem;
        }
      }
    }

    .start-section {
      width: 100%;
      justify-content: space-between;
    }

    .header-logo {
      img {
        height: 6.6rem;
        width: auto;
      }
    }

    .burger-menu {

      display: flex;

      .burger-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 5.2rem;
        height: 5.2rem;
        transition: transform 0.3s ease;

        &--closed {
          .burger-line--top {
            transform-origin: center;
            transform: rotate(0) translate(0, 0);
          }
          .burger-line--middle {
            opacity: 1;
            transform: translateX(0);
          }
          .burger-line--bottom {
            transform-origin: center;
            transform: rotate(0) translate(0, 0);
          }
        }
      
        &--open {
          .burger-line--top {
            transform: rotate(45deg) translateY(6.5px);
          }
          .burger-line--middle {
            opacity: 0;
            transform: translateX(-20px);
          }
          .burger-line--bottom {
            transform: rotate(-45deg) translateY(-6.5px);
          }
        }
      }

      .burger-svg {
        width: 5.2rem;
        height: 5.2rem;
      }

      .burger-line {
        transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 0.2s ease;
        transform-origin: center;
        stroke: white;
        stroke-width: 2;
        stroke-linecap: round;
      }
    }
  }
}

.burger-menu-panel {
  display: none;
}

@media (max-width: 768px) {
  .burger-menu-panel {
    position: fixed;
    padding-top: 20.4rem !important;
    padding-bottom: 10rem !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &.active {
      transform: translateX(0);
    }

    .menu-body {
      flex-grow: 1;
    
      .menu-list {
        list-style: none;
        margin: 0;
        padding: 0;
      
        .menu-item {
          margin-bottom: 4.8rem;
          position: relative;

          a {
            font-family: var(--second-family);
            font-weight: 600;
            font-size: 2.8rem;
            line-height: 110%;
            color: var(--blue);
          }

          &__link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
          
            &:hover {
              color: var(--primary);
            }
          }
        
          &__arrow {
            width: 1.8rem;
            height: 1rem;
            transition: transform 0.3s ease;
          
            &.rotated {
              transform: rotate(180deg);
            }
          }
        
          .menu-sublist {
            list-style: none;
            margin: 0;
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
          
            &.active {
              max-height: 36rem;
              padding-top: 3.2rem;
            }
          
            .menu-subitem {
              margin-bottom: 2.4rem;
              display: flex;
              flex-direction: column;
              gap: 2.4rem;
            
              a {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 2.4rem;
                line-height: 120%;
                color: var(--grey-text);
                display: block;
              
                &:hover {
                  color: var(--primary);
                }
              }
            }
          }
        }
      }
    }

    .menu-footer {
      display: flex;
      justify-content: center;
    }
  }
}