.hero {
  height: 102.4rem;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/images/hero-img1.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
  }

  &__content {
    color: var(--white);
    text-align: left;
  }

  &__tagline {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 110%;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 120%;
  }

  &__stats {
    display: flex;
    gap: 7.7rem;
  }

  &__stat {
    text-align: left;
    border-right: 1px solid var(--line-light);
    display: flex;
    flex-direction: column;
    padding-right: 7.7rem;
  }

  .hero__stat:last-child {
    border-right: none;
  }

  &__stat-number {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 8rem;
    color: var(--white);
  }

  &__stat-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 110%;
    text-align: left;
    color: var(--white);
  }

  &__stat:first-child {
    white-space: nowrap;
  }

  &__location-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 110%;
    color: var(--white);
  }

  &__location-images {
    display: flex;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid white;
      transition: transform 0.2s ease;
    }
  }

  &__location-caption {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    color: var(--primary);
  }
}