.hero {
  height: 102.4rem;
  display: flex;
  align-items: end;
  margin-bottom: 20rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/images/hero-img1.png') no-repeat center center;
    background-size: cover;
    z-index: -1;
    min-height: 102.4rem
  }

  &__content {
    color: var(--white);
    text-align: left;
    margin-bottom: 4.6rem;
  }

  &__tagline {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 8.3rem;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 110%;
    margin-bottom: 6.4rem;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 120%;
    white-space: pre-line;
    margin-bottom: 6.4rem;
  }

  & .btn {
    margin-bottom: 8.1rem;
  }

  &__stats {
    display: flex;
    gap: 7.7rem;
    margin-bottom: 4.1rem;
  }

  &__stat {
    text-align: left;
    border-right: 1px solid var(--line-light);
    display: flex;
    flex-direction: column;
    padding-right: 7.7rem;
    padding-bottom: 2.9rem;
  }

  .hero__stat:last-child {
    border-right: none;
  }

  &__stat-number {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 8rem;
    color: var(--white);
  }

  &__stat-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 110%;
    text-align: left;
    color: var(--white);
  }

  &__stat:nth-last-child(2) .hero__stat-label {
    width: 13.4rem;
  }

  &__stat:first-child {
    white-space: nowrap;
  }

  &__location-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 110%;
    color: var(--white);
    margin-bottom: 1.4rem;
  }

  &__location-images {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;

    img {
      width: 68px;
      height: 68px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: -32px;

      &:nth-child(2) { z-index: 50; }
      &:nth-child(3) { z-index: 40; }
      &:nth-child(4) { z-index: 30; }
      &:nth-child(5) { z-index: 20; }
      &:nth-child(6) { z-index: 10; }
    }

    img:first-child {
      width: 80px;
      height: 80px;
      border: 1px solid var(--primary);
      margin-left: 0;
      z-index: 60;
    }
  }

  &__location-caption {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    color: var(--primary);
  }
}