.hero {
  position: relative;
  height: 102.4rem;
  display: flex;
  align-items: end;
  margin-bottom: 20rem;

  &__bg {
    position: absolute;
    top: 0;
    left: calc(-1.6rem - 4.8rem);
    width: calc(100% + 1.6rem * 2 + 4.8rem * 2);
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    z-index: -1;
  }

  &__bg--active {
    opacity: 1;
    z-index: -1;
  }

  &__content {
    color: var(--white);
    text-align: left;
    margin-bottom: 4.6rem;

    .hero__stats-mobile {
      display: none;
    }

    .hero__location-mobile {
      display: none;
    }
  }

  &__tagline {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 8.3rem;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 110%;
    margin-bottom: 6.4rem;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 120%;
    white-space: pre-line;
    margin-bottom: 6.4rem;
    width: 55rem;
  }

  & .btn {
    margin-bottom: 8.1rem;
  }

  &__stats {
    display: flex;
    gap: 7.7rem;
    margin-bottom: 4.1rem;

    .hero__stat:last-child {
      width: 25rem;
    }
  }

  &__stat {
    text-align: left;
    border-right: 1px solid var(--line-light);
    display: flex;
    flex-direction: column;
    padding-right: 7.7rem;
    padding-bottom: 2.9rem;
  }

  .hero__stat:last-child {
    border-right: none;
  }

  &__stat-number {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 8rem;
    color: var(--white);
  }

  &__stat-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 110%;
    text-align: left;
    color: var(--white);
  }

  &__stat:nth-last-child(2) .hero__stat-label {
    width: 13.4rem;
  }

  &__stat:first-child {
    white-space: nowrap;
  }

  &__location-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 110%;
    color: var(--white);
    margin-bottom: 1.4rem;
  }

  &__location-images {
    height: 8rem;
    display: flex;
  }

  &__location-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    z-index: 10;

    &:nth-child(2) {transform: translateX(calc(-3.4rem)); z-index: 9;}
    &:nth-child(3) {transform: translateX(calc(-6.8rem)); z-index: 8;}
    &:nth-child(4) {transform: translateX(calc(-10.2rem)); z-index: 7}
    &:nth-child(5) {transform: translateX(calc(-13.6rem)); z-index: 6}
    &:nth-child(6) {transform: translateX(calc(-17rem)); z-index: 5}

    img {
      width: 6.8rem;
      height: 6.8rem;
      object-fit: cover;
      border-radius: 50%;
      transition: all 0.3s ease;
      border: 2px solid transparent;
    }
  }

  &__location-btn.active {
    z-index: 60;

    img {
      width: 8rem;
      height: 8rem;
      border: 2px solid var(--primary);
    }
  }

  &__location-caption {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    color: var(--primary);
  }
}

@media (max-width: 768px) {
  .hero {

    height: 144.8rem;
    justify-content: center;
    margin-bottom: 8rem;

    &__bg {
      left: -3.2rem;
      width: calc(100% + 3.2rem + 3.2rem);
    }

    &::before {
      height: 144.8rem;
    }

    &__stats:last-child {
      display: none;
    }

    flex-direction: column;

    &__content {

      margin-top: 15rem;
      margin-bottom: 0;

      .hero__tagline {
        font-size: 3.2rem;
        margin-bottom: 8rem;
      }

      .hero__title {
        font-size: 8rem;
        margin-bottom: 8rem;
      }

      .hero__subtitle {
        font-size: 3.8rem;
        width: 100%;
        margin-bottom: 12rem;
      }

      .hero__stats-mobile {

        display: flex;

        .hero__stats {

          display: flex;
          gap: 4rem;
          margin-bottom: 5.8rem;

          .hero__stat:nth-child(2) {
            padding-right: 7rem;
          }
          
          .hero__stat {

            padding-right: 4rem;
            padding-bottom: 2rem;

            &-number {
              font-size: 6.4rem;
            }

            &-label {
              font-size: 2.4rem;
            }
          }
        }
      }

      .hero__location {
        display: none;
      }

      .hero__location-mobile {
        display: flex;
        flex-direction: column;
        align-items: end;

        .hero__location {
          display: flex;
          flex-direction: column;
          width: 22rem;

          &-title {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 110%;
            color: var(--white);
            text-transform: uppercase;
            margin-bottom: 0;
          }

          &-images {

            img {
              width: 6.4rem;
              height: 6.4rem;
            }

            img:first-child {
              width: 6.4rem;
              height: 6.4rem;
              border: none;
            }
          }
        }
      }
    }
  }
}