.ssilki {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 5rem;
  font-weight: bold;
}

.about-company {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__block {
    display: flex;
  }

  &__content-text {

    margin-right: 14rem;

    div:first-child {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      margin-bottom: 6.5rem;

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 110%;
        color: var(--text);
      }
    }

    .btn {
      margin-bottom: 10.6rem;
    }
  }

  &__content-text__group {
    display: flex;
    flex-direction: row;

    div:first-child {
      padding-right: 2rem;
    }

    div:last-child {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      border-left: 1px solid var(--line-light);
      padding-left: 2.5rem;

      p:first-child {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--blue);
      }

      p:last-child {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 110%;
        color: var(--grey-text);
      }
    }
  }

  &__content-image {
    img {
      width: 100rem;
      height: 70rem;
    }
  }
}

.services {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 120%;
    color: var(--grey-text);
    max-width: 88rem;
    margin-bottom: 8rem;
  }

  &__catalog {

    display: flex;
    gap: 1.9rem;

    &__item {
      width: fit-content;
    }

    .item-container {
      padding: 2.4rem 2.4rem 4.4rem 2.4rem;
      border-radius: 16px;
      background: var(--white);
      transition: all 0.2s ease;

      &:hover {
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.12), -2px -2px 8px 0 rgba(0, 0, 0, 0.12);
        background: #fff8f4;
      }
    }

    .image-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6.4rem;

      p {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 4rem;
        color: var(--blue);
      }
    }

    .text-block {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      margin-bottom: 7.4rem;

      p:first-child {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 100%;
        color: var(--text);
      }

      p:last-child {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--grey-text);
      }
    }
  }
}

.projects {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__bottom-line {
    display: flex;
    justify-content: end;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 8.4rem 2.2rem;
    margin-bottom: 4.5rem;

    &__item {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      div:nth-last-child(1) {
        display: flex;
        justify-content: end;
      }

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 110%;
        color: var(--text);
      }

      img {
        width: 56.2rem;
        height: 57.6rem;
        object-fit: cover;
        transition: height 0.2s ease;
        border-radius: 16px;
        margin-bottom: 2rem;
      }

      .projects__info {

        display: flex;
        flex-direction: column;

        p {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          margin-bottom: 0rem;
          transition: all 0.2s ease
        }
      }

      .projects__details {

        display: flex;
        flex-direction: column;
        > p:nth-child(1) {
          margin-bottom: 2rem;
        }

        > div:nth-child(3) {
          height: 1px;
          width: 100%;
          background: var(--line-light);
          margin: 2rem 0rem;
        }

        > div:nth-child(3),
        > div:nth-child(4) {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: all 0.2s ease
        }
      }

      &:hover {
        img {
          height: 38.4rem;
        }
      
        .projects__info > p:nth-child(1),
        .projects__info > p:nth-child(2) {
          opacity: 1;
          max-height: 5rem;
          margin-bottom: 2rem;
        }
      
        .projects__details {
          > p:nth-child(1),
          > p:nth-child(2),
          > div:nth-child(3),
          > div:nth-child(4) {
            opacity: 1;
            max-height: 5rem;
          }
        }
      }
    }
  }
}

.stages {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 5.2rem;
  }

  &__block {
    display: flex;
  }

  &__text {

    width: 60.6rem;

    p:first-child {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 120%;
      color: var(--blue);
      margin-bottom: 3.1rem;
    }

    p:nth-last-child(2) {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 4.8rem;
      line-height: 120%;
      color: var(--text);
      margin-bottom: 8rem;
    }

    p:last-child {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 110%;
      color: var(--text);
    }
  }

  .slide_around_sec {
    width: 120rem;
    position: relative;

    .slide_around_slider {
      position: relative;
      width: 100%;
      height: 85rem;
      overflow: hidden;

      .swiper {
        width: 100%;
        height: 100%;
      }
    
      .swiper-wrapper {
        align-items: center;

        .slide-number {
          display: flex;
          font-family: var(--second-family);
          font-weight: 500;
          font-size: 4rem;
          line-height: 120%;
          color: var(--blue);
        }
      }
    
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: start;
        transition: transform 0.4s ease, opacity 0.4s ease;
        opacity: 0;
        transform: scale(0.6);
        cursor: pointer;
        z-index: 1;
      
        &-active {
          opacity: 1;
          transform: scale(1);
          z-index: 10;
        
          .slide-number {
            color: #2c3e50;
            font-weight: 800;
          }
        }
      
        &-prev,
        &-next {
          opacity: 0.7;
          transform: scale(0.74);
          z-index: 5;
        }
      }
    
      .slide-content {
        position: relative;
        text-align: center;
        width: 100%;
      
        img {
          width: 62.4rem;
          height: 70.1rem;
          object-fit: cover;
          border-radius: 16px;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          background: #f5f5f5;
          transition: transform 0.3s ease;
        }
      }

      .swiper-horizontal {
        .swiper-button-prev,
        .swiper-button-next {
          margin-top: 0 !important;
          margin-left: 0 !important;
          position: static !important;
        }
      }
    
      .swiper-pagination-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -20px;

        .swiper-button-next,
        .swiper-button-prev {
          width: 8px;
          height: 14px;
          cursor: pointer;
          background: transparent;
        }
      }
    
      .swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 0.8rem;
      
        .swiper-pagination-bullet {
          width: 1.2rem;
          height: 1.2rem;
          background: #dfe2e7;
          opacity: 1;
          border-radius: 50%;
          transition: all 0.3s ease;
        
          &-active {
            background: var(--blue);
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
    }
  }
}

.advantages {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 120%;
    color: var(--blue);
    margin-bottom: 5.4rem;
  }

  &__ps {
    display: flex;
    justify-content: end;

    p {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 120%;
      text-align: right;
      color: var(--blue);
      max-width: 86rem;

      span {
        position: relative;
        bottom: 1.5rem;
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 6.4rem;
        line-height: 100%;
      }
    }
  }

  &__list {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    margin-bottom: 6rem;

    .item {
      &__container {
        padding: 3rem 2rem;
        border-radius: 16px;
        background: var(--white);
      }

      &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 100%;
        color: var(--text);
        margin-bottom: 5.8rem;
      }

      &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--grey-text);
        margin-bottom: 4.8rem;
      }

      &__image {
        display: flex;
        justify-content: end;

        img {
          width: 12rem;
          height: 12rem;
        }
      }
    }
  }
}

.licenses {

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  .main-slider-container {

    margin-bottom: 20rem;
      
    .swiper {
      overflow: hidden;
    }
  
    .main-slide-content {
      box-sizing: border-box;
    }
  
    .inner-slide {
      img {
        width: 41.7rem;
        height: 60rem;
        display: block;
      }
    }
  }
}

.news {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__list {

    display: flex;
    justify-content: space-between;

    .item {

      width: fit-content;

      &__container {
        padding: 2.4rem;
        background: var(--white);
        border-radius: 16px;
      }

      &__image {
        width: 51.4rem;
        height: 40.3rem;
        margin-bottom: 4rem;

        img {
          width: 51.4rem;
          height: 40.3rem;
        };
      }

      &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--text);
        margin-bottom: 6rem;
      }

      &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--text);
        margin-bottom: 3.2rem;
        max-width: 51.4rem;
      }

      &__date {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 110%;
        color: var(--grey-text);
        margin-bottom: 4rem;
      }

      &__button {
        display: flex;
        justify-content: end;
      }
    }
  }
}