.ssilki {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 5rem;
  font-weight: bold;
  margin-top: 150px;
}

.about-company {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__block {
    display: flex;
  }

  &__content-text {

    margin-right: 14rem;

    div:first-child {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      margin-bottom: 6.5rem;

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 110%;
        color: var(--text);
      }
    }

    .btn {
      margin-bottom: 10.6rem;
    }
  }

  &__content-text__group {
    display: flex;
    flex-direction: row;

    div:first-child {
      padding-right: 2rem;
    }

    div:last-child {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      border-left: 1px solid var(--line-light);
      padding-left: 2.5rem;

      p:first-child {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--blue);
      }

      p:last-child {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 110%;
        color: var(--grey-text);
      }
    }
  }

  &__content-image {
    img {
      width: 100rem;
      height: 70rem;
    }
  }
}

.services {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 120%;
    color: var(--grey-text);
    max-width: 88rem;
    margin-bottom: 8rem;
  }

  &__catalog {

    display: flex;
    gap: 1.9rem;

    &__item {
      width: fit-content;
    }

    .item-container {
      padding: 2.4rem 2.4rem 4.4rem 2.4rem;
      border-radius: 16px;
      background: var(--white);
      transition: all 0.2s ease;

      &:hover {
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.12), -2px -2px 8px 0 rgba(0, 0, 0, 0.12);
        background: #fff8f4;
      }
    }

    .image-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6.4rem;

      p {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 4rem;
        color: var(--blue);
      }
    }

    .text-block {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      margin-bottom: 7.4rem;

      p:first-child {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 100%;
        color: var(--text);
      }

      p:last-child {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--grey-text);
      }
    }
  }
}

.projects {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__bottom-line {
    display: flex;
    justify-content: end;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 8.4rem 2.2rem;
    margin-bottom: 4.5rem;

    &__item {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      div:nth-last-child(1) {
        display: flex;
        justify-content: end;
      }

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 110%;
        color: var(--text);
      }

      img {
        width: 56.2rem;
        height: 57.6rem;
        object-fit: cover;
        transition: height 0.2s ease;
        border-radius: 16px;
        margin-bottom: 2rem;
      }

      .projects__info {

        display: flex;
        flex-direction: column;

        p {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          margin-bottom: 0rem;
          transition: all 0.2s ease
        }
      }

      .projects__details {

        display: flex;
        flex-direction: column;
        > p:nth-child(1) {
          margin-bottom: 2rem;
        }

        > div:nth-child(3) {
          height: 1px;
          width: 100%;
          background: var(--line-light);
          margin: 2rem 0rem;
        }

        > div:nth-child(3),
        > div:nth-child(4) {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: all 0.2s ease
        }
      }

      &:hover {
        img {
          height: 38.4rem;
        }
      
        .projects__info > p:nth-child(1),
        .projects__info > p:nth-child(2) {
          opacity: 1;
          max-height: 5rem;
          margin-bottom: 2rem;
        }
      
        .projects__details {
          > p:nth-child(1),
          > p:nth-child(2),
          > div:nth-child(3),
          > div:nth-child(4) {
            opacity: 1;
            max-height: 5rem;
          }
        }
      }
    }
  }
}

.project-stages-slider {

  margin-bottom: 20rem;
  position: relative;

  &__header {
    margin-bottom: 5.2rem;

    .project-stages-slider__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
    }
  }

  &__content-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 100%;
  }

  &__text-content {
    flex: 0 0 35%;
    text-align: left;

    .project-stages-slider__subtitle {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 120%;
      color: var(--blue);
      margin-bottom: 3rem;
    }

    .project-stages-slider__stage-title {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 4.8rem;
      line-height: 120%;
      margin-bottom: 8rem;
      color: var(--text);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .project-stages-slider__description {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 110%;
      color: var(--text);
      transition: opacity 0.3s ease, transform 0.3s ease;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__image-container {
    position: relative;
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70.1rem;
  }

  &__image-prev,
  &__image-next {
    position: absolute;
    width: 46rem;
    height: 51.7rem;
    opacity: 0.6;
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 16px;
    }
  }

  &__image-prev {
    left: 0px;
  }

  &__image-next {
    right: 0px;
  }

  &__image-current {
    position: relative;
    z-index: 2;
    width: 62.4rem;
    height: 70.1rem;
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 16px;
      transition: opacity 0.3s ease;
    }
  }

  &__number {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 4rem;
    line-height: 120%;
    color: var(--blue);
  }

  &__count {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 4rem;
    line-height: 120%;
    color:  #dfe2e7;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 45rem;
    gap: 2.4rem;
    margin-top: 4rem;
  }

  &__btn {
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;


    &--prev {
      order: -1;
    }
  }

  &__pagination {
    display: flex;
    gap: 0.8rem;

    .project-stages-slider__dot {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: #bdc3c7;
      cursor: pointer;
      transition: all 0.2s ease;

      &.is-active {
        background-color: var(--blue);
      }
    }
  }
}

.advantages {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 120%;
    color: var(--blue);
    margin-bottom: 5.4rem;
  }

  &__ps {
    display: flex;
    justify-content: end;

    p {
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 120%;
      text-align: right;
      color: var(--blue);
      max-width: 86rem;

      span {
        position: relative;
        bottom: 1.5rem;
        font-family: var(--second-family);
        font-weight: 300;
        font-size: 6.4rem;
        line-height: 100%;
      }
    }
  }

  &__list {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    margin-bottom: 6rem;

    .item {
      &__container {
        position: relative;
        padding: 3rem 2rem;
        border-radius: 16px;
        background: var(--white);
        width: 41.6rem;
        height: 41.6rem;
      }

      &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 100%;
        color: var(--text);
        margin-bottom: 5.8rem;
      }

      &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--grey-text);
        max-width: 31.1rem;
        margin-bottom: 4.8rem;
      }

      &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: end;

        img {
          z-index: 10;
          width: 14.9rem;
          height: 15.6rem;
        }
      }
    }
  }
}

.licenses__slider {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  .main-slider-container {
  
    .main-slide-content {
      box-sizing: border-box;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: transparent;
    }

    .main-button-next::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E...");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 110;
    }

    .main-pagination {

      .swiper-pagination-bullet {

        background: #dfe2e7;
        opacity: 1;

        &-active {
          background: var(--blue);
        }
      }
    }

    .inner-slider {
      .inner-pagination {

        .swiper-pagination-bullet {

          background: #dfe2e7;
          opacity: 1;

          &-active {
            background: var(--blue);
          }
        }
      }
    }
  
    .inner-slide {
      img {
        width: 41.7rem;
        height: 60rem;
        display: block;
      }
    }
  }
}

.news {

  margin-bottom: 20rem;

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 8rem;
  }

  &__list {

    display: flex;
    justify-content: space-between;

    .item {

      width: fit-content;

      &__container {
        padding: 2.4rem;
        background: var(--white);
        border-radius: 16px;
      }

      &__image {
        width: 51.4rem;
        height: 40.3rem;
        margin-bottom: 4rem;

        img {
          width: 51.4rem;
          height: 40.3rem;
        };
      }

      &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--text);
        margin-bottom: 6rem;
      }

      &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--text);
        margin-bottom: 3.2rem;
        max-width: 51.4rem;
      }

      &__date {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 110%;
        color: var(--grey-text);
        margin-bottom: 4rem;
      }

      &__button {
        display: flex;
        justify-content: end;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;


  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .modal-content {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .modal-close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    color: #333;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background 0.2s;
  }

  .modal-close-button:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  .zoom-slider {
    width: 100%;
    height: 100%;
  }

  .zoom-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .zoom-slider img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: grab;
  }

  .zoom-slider img:active {
    cursor: grabbing;
  }

  .zoom-pagination {
    bottom: 1rem !important;
    top: auto !important;
  }

  .zoom-next,
  .zoom-prev {
    top: 50% !important;
    transform: translateY(-50%) !important;
    width: 40px !important;
    height: 40px !important;
    background: rgba(255, 255, 255, 0.8) !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
  }

  .zoom-next::after,
  .zoom-prev::after {
    font-size: 1.5rem !important;
    color: #333 !important;
  }
}