.modal-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);

  &__content {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55rem;
    height: 25rem;
    background: var(--footerheader);
    padding: 4rem 6rem;
    border-radius: 16px;
    box-sizing: border-box;
    z-index: 1;

    &__title {

      margin-bottom: 3rem;

      p {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 4rem;
        line-height: 120%;
        color: var(--white);
      }
    }

    &__description {

      margin-bottom: 3rem;

      p {
        font-family: var(--second-family);
        font-weight: 200;
        font-size: 1.2rem;
        line-height: 120%;
        color: var(--white);
      }
    }

    &__button {
      display: flex;
      justify-content: end;
    }
  }
}

@media (max-width: 768px) {
  .modal-success {
    .btn {

      padding: 1rem 2rem;

      .icon_arrow-right {
        padding: 0.5rem;
      }
    }
  }
}