.modal {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);

  &-content {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55rem;
    height: 55.7rem;
    background: var(--footerheader);
    padding: 4rem 6rem;
    border-radius: 16px;
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 1;

    .call-container {
      .call-form {

        &__text {
          margin-bottom: 2.4rem;
          font-family: var(--second-family);
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 120%;
          color: var(--white);
        }

        &__form {

          p {

            margin: 4rem 0rem 3.2rem 0rem;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 120%;
            color: var(--grey-text);

            a {
              text-decoration: underline;
              text-decoration-skip-ink: none;
              color: var(--light-text);
            }
          }

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }

  &-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

@media (max-width: 768px) {

  .modal-content {

    padding: 6.4rem 3.2rem 4.8rem;
    width: 68.6rem;
    height: 89.2rem;


    .call-container {
      .call-form {

        &__text {
          font-weight: 400;
          font-size: 2.8rem;
          margin-bottom: 4.8rem;
        }

        &__form {
          p {

            font-size: 2rem;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
            
            a {
              word-break: keep-all;
            }
          }
        }
      }
    }
  }
}