.news-page {

  margin-bottom: 20rem;

  &__hidden-items  {
    border-top: 1px solid var(--line-light);
    padding-top: 6rem;
    margin-bottom: 10rem;
  }

  &__content {

    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-bottom: 6rem;

    &__line {
      height: 1px;
      width: 100%;
      display: flex;
      background-color: var(--line-light);
    }

    &__item {

      display: flex;
      justify-content: space-between;

      .image {
        img {
          width: 70.7rem;
          height: 50rem;
        }
      }

      .info {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 85.4rem;

        &__date {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          color: var(--grey-text);
        }

        &__text {

          display: flex;
          flex-direction: column;
          gap: 4rem;

          &__title {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 100%;
            color: var(--text);
          }

          &__subtitle {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 110%;
            color: var(--text);
          }
        }
      }
    }
  }

  .news-page__number {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    .page-number {

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 120%;
      color: var(--grey-text);

      &--active {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 120%;
        color: var(--blue);
      }
    }
  }
}

@media (max-width: 768px) {
  .news-page {

    margin-bottom: 8rem;

    &__hidden-items  {
      margin-bottom: 0rem;
    }

    &__number {
      button {
        display: none;
      }

      .js-show-more {

        width: 100%;

        button {
          width: 100%;
          display: flex;
          justify-content: center;
          display: flex !important;
        }
      }
    }

    &__content {

      gap: 6.4rem;
      margin-bottom: 6.4rem;

      &__item {

        flex-direction: column;
        gap: 4.8rem;

        .image {
          img {
            width: 100%;
            height: 60rem;
          }
        }

        .info {

          &__date {
            font-size: 2.4rem;
            margin-bottom: 3.6rem;
          }

          &__text {

            gap: 3.2rem;
            margin-bottom: 3.6rem;
            
            &__title {
              font-size: 6rem;
            }

            &__subtitle {
              font-size: 2.8rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .js-show-more {
    display: none !important;
  }
}