.specific-project {

  .hero-other__pdf-doc {
    display: none;
  }

  &__title {

    margin-bottom: 6.7rem;

    p {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 8rem;
      color: var(--blue);
    }
  }

  &__title-block {

    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;

    .info {

      display: flex;
      flex-direction: column;

      &__description {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--grey-text);
        margin-bottom: 8.9rem;
      }

      &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 100%;
        color: var(--text);
        max-width: 56.3rem;
      }

      &__list {

        display: flex;
        flex-direction: column;
        margin-top: auto;
        gap: 1.6rem;

        &__item {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
        }

        &__title {
          display: flex;
          align-items: center;
          gap: 0.8rem;

          font-family: var(--second-family);
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 120%;
          text-transform: uppercase;
          color: var(--text);

          img {
            width: 2.4rem;
            height: 2.4rem;
          }
        }

        &__description {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 120%;
          color: var(--grey-text);
          margin-left: 3.2rem;
        }
      }
    }

    .image {
      img {
        width: 100rem;
        height: 60.3rem;
      }
    }
  }

  &__about-company {

    max-width: 90.6rem;
    margin-bottom: 20rem;

    .title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 8rem;
    }

    .text-list {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 110%;
      color: var(--text);
    }
  }

  &__gallery {

    margin-bottom: 20rem;

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 8rem;
    }

    .photo-gallery {

      padding-bottom: 8.4rem;

      .swiper-wrapper {
        display: flex;
        align-items: center;
      }
    
      .swiper-slide {
        width: 56.2rem;
        height: auto;
      
        img {
          width: 100%;
          height: 100%;
        }
      }
    
      .swiper-button-prev,
      .swiper-button-next {
        top: auto !important;
        bottom: 0 !important;
        color: #243984;
        width: 3.2rem;
        height: 3.2rem;
        
        svg {
          width: 1.2rem;
          height: 2rem;
        }
      }
    
      .swiper-button-prev {
        left: 43% !important;
      }
    
      .swiper-button-next {
        right: 43% !important;
      }
      
      .main-pagination {
      
        bottom: 0.2rem !important;
      
        .swiper-pagination-bullet {
        
          background: #dfe2e7;
          opacity: 1;
          width: 1.2rem;
          height: 1.2rem;
          margin: 0.5rem;
        
          &-active {
            background: var(--blue);
          }
        
          &-disabled {
            color: #DFE2E7;
            opacity: 1;
          }
        }
      }
    }

    .lightbox-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      box-sizing: border-box;

      .lightbox-content {
        max-width: 90vw;
        max-height: 95vh;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
      
        .lightbox-close {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          z-index: 1100;
        }
      
        .lightbox-main-image {

          height: 70vh;

          .main-image-container {
            width: 100%;
            max-width: 100%;
            position: relative;
            height: 100%;
          
            .lightbox-swiper {

              height: 100%;

              .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
              
                img {
                  width: auto;
                  height: 100%;
                  object-fit: contain;
                  object-position: center;
                  border-radius: 8px;
                }
              }

              .swiper-button-prev,
              .swiper-button-next {
                color: white;
              }
            }
          }
        }
      
        .lightbox-thumbnails {
          width: 100%;
          max-width: 100%;
          margin-top: 6rem;
          height: 12.5rem;
        
          .thumbnail-container {
            width: 100%;
            max-width: 100%;
            height: 100%;
          
            .thumb-swiper {

              height: 100%;

              .swiper-wrapper {
                display: flex;
                gap: 0.5rem;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
              }
            
              .swiper-slide {
                width: 15rem;
                height: 12.5rem;
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 0.8rem;
                overflow: hidden;
                transition: border-color 0.2s, transform 0.2s;
                flex-shrink: 0;
              
                &.swiper-slide-thumb-active {
                  border-color: var(--primary);
                }
              
                img {
                  width: auto;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                  border-radius: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }

  &__video {

    position: relative;
    display: block;

    &__title {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--blue);
      margin-bottom: 8rem;
    }

    &__description {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 110%;
      color: var(--text);
      margin-bottom: 6rem;
      width: 83.1rem;
    }

    &__video {

      margin-bottom: 20rem;
      width: 100%;
      height: 82rem;
      position: relative;
      display: block;
      border-radius: 16px;

      .video-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/video.png');
        background-size: cover;
        background-position: center;
        pointer-events: none;
        z-index: 1;
        border-radius: 16px;
      }

      video {
        display: block;
        width: 100%;
        height: 82rem;
      }

      video:is(:playing, [data-playing]) ~ .video-poster,
      video[playing] ~ .video-poster {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .specific-project {

    .hero-other__content {
      padding-bottom: 0;
    }

    &__title {
      font-size: 8rem;
      margin-bottom: 8rem;
    }

    &__title-block {

      flex-direction: column;
      margin-bottom: 16rem;

      .info {

        &__description {
          font-size: 2.8rem;
          margin-bottom: 4.8rem;
        }

        &__title {
          max-width: 100%;
          font-size: 3.2rem;
          margin-bottom: 4.8rem;
        }

        &__list {

          gap: 2.4rem;
          margin-bottom: 4.8rem;

          &__item {
            gap: 1.6rem;
          }

          &__title {

            gap: 1.6rem;

            img {
              width: 3.2rem;
              height: 3.2rem;
            }

            p {
              font-size: 2.4rem;
            }
          }

          &__description {

            margin-left: 4.8rem;

            p {
              font-family: var(--font-family);
              font-weight: 500;
              font-size: 2.4rem;
              line-height: 120%;
              color: var(--grey-text);
            }
          }
        }
      }

      .image {
        img {
          width: 100%;
          height: 60rem;
        }
      }
    }

    &__about-company {

      max-width: 100%;
      margin-bottom: 16rem;

      .title {

        margin-bottom: 6.4rem;

        p {
          font-size: 3.2rem;
        }
      }

      .text-list {

        gap: 3.2rem;

        p {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 2.8rem;
          line-height: 110%;
          color: var(--text);
        }
      }
    }

    &__gallery {

      margin-bottom: 16rem;

      &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--blue);
        margin-bottom: 6.4rem;
      }

      .lightbox-overlay {
        display: none !important;
      }

      .photo-gallery {

        padding-bottom: 9.6rem;

        .swiper-wrapper {
          display: flex;
          align-items: center;
        }
      
        .swiper-slide {
          width: 60rem;
          height: 52rem;
        
          img {
            width: 100%;
            height: 100%;
          }
        }
      
        .swiper-button-prev,
        .swiper-button-next {
          top: auto !important;
          bottom: 0 !important;
          color: #243984;
          width: 3.2rem;
          height: 3.2rem;

          svg {
            width: 1.2rem;
            height: 2rem;
          }
        }
      
        .swiper-button-prev {
          left: 25% !important;
        }
      
        .swiper-button-next {
          right: 25% !important;
        }

        .main-pagination {
        
          bottom: 0.2rem !important;

          .swiper-pagination-bullet {
          
            background: #dfe2e7;
            opacity: 1;
            width: 1.6rem;
            height: 1.6rem;
            margin: 0.5rem;
          
            &-active {
              background: var(--blue);
            }
          
            &-disabled {
              color: #DFE2E7;
              opacity: 1;
            }
          }
        }
      }
    }

    &__video {

      &__title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--blue);
        margin-bottom: 6.4rem;
      }

      &__description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 110%;
        color: var(--text);
        width: 100%;
        margin-bottom: 4.8rem;
      }

      &__video {

        height: 60rem;
        border-radius: 12px;
        margin-bottom: 8rem;

        video {
          height: 60rem;
        }
      }
    }
  }
}