@use './fonts';
@use './header';
@use './footer';
@use './home';
@use './hero';
@use './input';
@use './button';
@use './error';
@use './user-agreement';
@use './policy';

:root {
	--bg: #f5f5f5;
	--primary: #d15203;
	--blue: #243984;
	--text: #1b1f2e;
	--grey-text: #697892;
	--light-text: #e9edf3;
	--line-light: #d6dae3;
	--line-dark: #a6a6a8;
	--white: #fff;
	--footerheader: #21456e;
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Fira Sans", sans-serif;
  --third-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-size: 0.520835vw; // на разрешении 1920 0.520835vw === 10px, 1rem = 10px
  font-style: normal;
  font-weight: 400;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: #F5F5F5;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1824px;
  margin: 0 auto;
  padding: 0px 48px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: calc((100/375) * 5vw); // где 375 это ширина моб версии макета, 1rem = 5px
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0px 16px; // в моб версии отступ от края задаем для всех контейнеров, а там где не нужно можем точечно убрать
    width: 100%;
  }
}