extends ../layouts/main

block content
  
  include ../includes/mixins/hero.pug
  
  - var heroData = {
  -   tagline: 'От идеи до реализации',
  -   title: 'Строим будущее вместе',
  -   subtitle: 'Надёжный партнёр в реализации сложных строительных проектов',
  -   button: 'Оставить заявку',
  -   stats: [
  -     { number: '15+', label: 'Лет на рынке' },
  -     { number: '50+', label: 'Реализованных проектов' },
  -     { number: '100%', label: 'Работаем по всей России' }
  -   ],
  -   location: {
  -     title: 'Москва',
  -     images: ['/img1.jpg', '/img2.jpg', '/img2.jpg', '/img2.jpg', '/img2.jpg', '/img2.jpg'],
  -     caption: 'Центральный офис'
  -   }
  - }

  +hero(heroData.tagline, heroData.title, heroData.subtitle, heroData.button, heroData.stats, heroData.location)