extends ../layouts/main

block content
  .ssilki.container
    a(href="/home.html") Главная
    a(href="/about.html") О нас
    a(href="/projects.html") Проекты
    a(href="/services.html") Услуги
    a(href="/career.html") Карьера
    a(href="/news.html") Новости
    a(href="/contacts.html") Контакты
    a(href="/error.html") 404
    a(href="/user-agreement.html") Пользовательское соглашение
    a(href="/policy.html") Политика
    a(href="/general-contractor.html") Генеральный подрядчик
    a(href="/construction-audit.html") Строительный аудит
    a(href="/specific-project.html") Европарк Сокольники
    a(href="/technical-customer.html") Технический заказчик
    a(href="/detail-news.html") Детали новости

