extends ../layouts/main

block content
  include ../includes/mixins/hero-other.pug
  include ../includes/mixins/button.pug

  .services-page
    - var heroOtherData = {
    -   tagline: 'Главная | Услуги',
    -   title: 'Полный спектр услуг',
    -   subtitle: 'Мы предоставляем полный комплекс услуг в сфере строительства и технического сопровождения объектов любой сложности.',
    -   pdf: 'все проекты', 
    -   bgImage: '../assets/images/hero-img3.png',
    -   buttonData: ['оставить заявку', 'primary']
    - }

    +hero-other(heroOtherData.tagline, heroOtherData.title, heroOtherData.subtitle, heroOtherData.pdf, heroOtherData.bgImage, heroOtherData.buttonData)

    .services-page__content
      .services-page__content__item.container
        .image
          img(src="/assets/images/Service1.png", alt="Услуга")
        .info 
          .info-line__1
            p Технический заказчик
            p Компания ООО «ОблсСтройИнвест» специализируется на полном спектре функций технического заказчика в сфере строительства. В их обязанности входит подготовка и оформление исходно-разрешительной документации, получение всех необходимых разрешений и согласований, а также координация процессов проектирования и возведения объектов коммерческой и промышленной недвижимости. Благодаря профессионализму и опыту, компания обеспечивает эффективное управление всеми этапами реализации строительных проектов.
          .info-line__2
            p Состав услуги:
            div
              ul.col-left
                li Исходно-разрешительная документация
                li Градостроительная документация
                li Получение разрешений и согласований
                li Управление проектированием
              ul.col-right
                li Строительство объектов
                li Документооборот и отчётность
                li Консультирование и поддержка
          .info__button 
            +button('узнать больше', 'primary')

      .services-page__content__item.container
        .image
          img(src="/assets/images/Service2.png", alt="Услуга")
        .info 
          .info-line__1
            p Генеральный подрядчик
            p ООО «ОблсСтройИнвест» предоставляет услугу Генерального подряда, который включает в себя управление всеми этапами строительного процесса, а также сопровождение проектной и сметной документации. Основная задача генподрядчика — контроль за выполнением всех видов строительных работ, а также ответственность за достижение конечного результата и минимизацию основных рисков, связанных с реализацией проекта. Взаимоотношения между заказчиком и генеральным подрядчиком оформляются договором генерального подряда, в котором подробно прописаны обязанности сторон и условия сотрудничества.
          .info-line__2
            p Состав услуги:
            div
              ul.col-left
                li Инженерная подготовка территории
                li Земляные работы
                li Общестроительные работы
                li Монтаж наружных инженерных сетей и сооружений
              ul.col-right
                li Монтаж внутренних инженерных сетей
                li Специальные работы по строительству и производству
                li Пуско-наладочные работы и запуск в эксплуатацию
          .info__button 
            +button('узнать больше', 'primary')

      .services-page__content__item.container
        .image
          img(src="/assets/images/Service3.png", alt="Услуга")
        .info 
          .info-line__1
            p Строительный аудит
            p Строительный аудит от компании ООО «ОблСтройинвест» — это профессиональная комплексная услуга, направленная на всестороннюю проверку и оценку строительного проекта на всех этапах его реализации. Мы обеспечиваем объективный контроль качества, соответствия нормативам и экономической эффективности строительства, помогая нашим клиентам минимизировать риски и оптимизировать затраты.
          .info-line__2
            p Состав услуги:
            div
              ul.col-left
                li Анализ проектной и сметной документации на соответствие действующим стандартам и требованиям заказчика
                li Контроль соблюдения строительных норм, правил и технологий в процессе выполнения работ
                li Оценка качества используемых материалов и выполненных строительных работ
                li Мониторинг сроков и этапов строительства с выявлением отклонений и рисков
              ul.col-right
                li Проверка наличия и правильности оформления разрешительной и технической документации
                li Выявление нарушений и предоставление рекомендаций по их устранению
                li Подготовка детального аудиторского отчёта с выводами и предложениями для заказчика
          .info__button 
            +button('узнать больше', 'primary')  
