extends ../layouts/main

block content
  include ../includes/mixins/hero-other.pug
  include ../includes/mixins/button.pug

  .technical-customer
    - var heroOtherData = {
    -   tagline: 'Главная | Услуги | Технический заказчик',
    -   title: 'Технический заказчик',
    -   subtitle: 'Мы создаём объекты, которые служат десятилетиями — с упором на качество, безопасность и ответственность на каждом этапе реализации проекта.',
    -   pdf: 'все проекты', 
    -   bgImage: '../assets/images/hero-img8.png',
    -   buttonData: ['оставить заявку', 'primary']
    - }

    +hero-other(heroOtherData.tagline, heroOtherData.title, heroOtherData.subtitle, heroOtherData.pdf, heroOtherData.bgImage, heroOtherData.buttonData)

    .technical-customer__content
      .technical-customer__info.container
        .text 
          p Компания ООО «ОблСтройИнвест» оказывает профессиональные услуги технического заказчика в сфере строительства, включая полную поддержку в оформлении исходно-разрешительной и градостроительной документации, получении всех требуемых разрешений и согласований, а также надзор за проектированием и возведением объектов коммерческого и промышленного назначения.
          p Благодаря комплексному подходу и большому опыту, ООО «ОблСтройИнвест» обеспечивает эффективную реализацию строительных проектов, минимизируя риски и оптимизируя затраты. Компания выступает надёжным партнёром для бизнеса, стремящегося к созданию современных и функциональных объектов недвижимости.
        .title 
          p Технический заказчик
        .text 
          p Компания ООО «ОблсСтройИнвест» специализируется на полном спектре функций технического заказчика в сфере строительства. В их обязанности входит подготовка и оформление исходно-разрешительной документации, получение всех необходимых разрешений и согласований, а также координация процессов проектирования и возведения объектов коммерческой и промышленной недвижимости. Благодаря профессионализму и опыту, компания обеспечивает эффективное управление всеми этапами реализации строительных проектов.
          p Мероприятия по оформлению исходно-разрешительной и градостроительной документации охватывает ряд ключевых этапов, необходимых для успешной реализации проектов:
      .technical-customer__process.container
        .technical-customer__process__title 
          p Основные компоненты процесса
        .technical-customer__process__slider
          .swiper.technical-customer-swiper
            .swiper-wrapper
              .swiper-slide
                .swiper-slide__number 
                  p 01
                .swiper-slide__title 
                  p Исходно-разрешительная документация
                .swiper-slide__description 
                  p Разработка градостроительного плана для конкретного земельного участка
                  p Получение согласований от местных органов <br /> власти и других заинтересованных организаций
                  p Подготовка проектной документации с учётом градостроительных норм и правил
              .swiper-slide
                .swiper-slide__number 
                  p 02
                .swiper-slide__title 
                  p Исходно-разрешительная документация
                .swiper-slide__description 
                  p Разработка градостроительного плана для конкретного земельного участка
                  p Получение согласований от местных органов <br /> власти и других заинтересованных организаций
                  p Подготовка проектной документации с учётом градостроительных норм и правил
              .swiper-slide
                .swiper-slide__number 
                  p 03
                .swiper-slide__title 
                  p Исходно-разрешительная документация
                .swiper-slide__description 
                  p Разработка градостроительного плана для конкретного земельного участка
                  p Получение согласований от местных органов <br /> власти и других заинтересованных организаций
                  p Подготовка проектной документации с учётом градостроительных норм и правил
              .swiper-slide
                .swiper-slide__number 
                  p 04
                .swiper-slide__title 
                  p Исходно-разрешительная документация
                .swiper-slide__description 
                  p Разработка градостроительного плана для конкретного земельного участка
                  p Получение согласований от местных органов <br /> власти и других заинтересованных организаций
                  p Подготовка проектной документации с учётом градостроительных норм и правил
              .swiper-slide
                .swiper-slide__number 
                  p 05
                .swiper-slide__title 
                  p Исходно-разрешительная документация
                .swiper-slide__description 
                  p Разработка градостроительного плана для конкретного земельного участка
                  p Получение согласований от местных органов <br /> власти и других заинтересованных организаций
                  p Подготовка проектной документации с учётом градостроительных норм и правил
              .swiper-slide
                .swiper-slide__number 
                  p 06
                .swiper-slide__title 
                  p Исходно-разрешительная документация
                .swiper-slide__description 
                  p Разработка градостроительного плана для конкретного земельного участка
                  p Получение согласований от местных органов <br /> власти и других заинтересованных организаций
                  p Подготовка проектной документации с учётом градостроительных норм и правил
            .swiper-pagination.main-pagination
            .swiper-button-next.main-button-next
            .swiper-button-prev.main-button-prev

      .technical-customer__event.container
        .technical-customer__event__title 
          p Мероприятия по исполнению функций<br /> технического заказчика
        .technical-customer__event__block
          .technical-customer__event__column 
            p Служба технического заказчика обеспечивает всестороннее сопровождение строительных проектов на всех этапах, защищая интересы клиента. Мы гарантируем своевременное оформление всех необходимых документов, контроль за ключевыми этапами реализации проекта и ввод объекта в эксплуатацию в установленные сроки.
              <br />
              <br />
              | Это позволяет значительно снизить нагрузку на управленческий персонал и обеспечить:
              <br />
              <br />
              | — Успешное завершение проекта;
              <br />
              | — Снижение строительных рисков;
              <br />
              | — Соблюдение сроков выполнения работ;
              <br />
              | — Мониторинг и контроль расходования средств;
              <br />
              | — Оценку и проверку качества выполняемых работ;
              <br />
              | — Достижение запланированных эксплуатационных и технико-экономических показателей.
          .technical-customer__event__column 
            p Функции технического заказчика (ФТЗ) начинаются с получения градостроительного плана (ГПЗУ), сбора необходимой информации для проектирования и оформления разрешительной документации. Наша служба обеспечивает согласование проектных документов, получение положительных заключений экспертов и разрешений на строительство.
            p Одним из ключевых этапов является проведение тендеров для выбора подрядчиков и поставщиков, а также оформление договоров подряда. Мы разрабатываем технические задания и приложения (сметы, графики работ), что позволяет организовать полный цикл строительства. На протяжении всего процесса мы осуществляем управление и контроль за всеми этапами работы.
            p Завершением нашей ответственности является оформление Акта ввода объекта в эксплуатацию и передача объекта в управление эксплуатационной службе.

      .technical-customer__target.container
        .technical-customer__target__title 
          p цели
        .technical-customer__target__block 
          .technical-customer__target__block__column 
            p В деятельности компании ООО «ОблСтройИнвест» в качестве Технического Заказчика приоритетными задачами выступают:
          .technical-customer__target__block__column 
            p Обеспечение охраны финансовой выгоды и законных полномочий Инвестора
            div
            p Содействие росту инвестиционной ценности разрабатываемого проекта
            div
            p Преумножение стоимости объекта коммерческой или производственной недвижимости после завершения строительных работ
            div
            p Минимизация вероятности возникновения проблем в процессе строительства
            div
            p Гарантирование соблюдения установленных сроков и высоких стандартов качества при строгом контроле за расходами

      .technical-customer__services.container
        .technical-customer__services__title 
          p Услуги
        .technical-customer__services__list 
          .service-list
            .service-list__item
              .service-list__title
                p Анализ исходной информации

                svg.service-list__icon(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path.service-list__icon-cross(v-if="true" d="M16 6.67V25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")
                  path.service-list__icon-bar(d="M6.67 16H25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")

              .service-list__roster.is-collapsed
                .service-list__roster__item 
                  .service-list__roster__item__container 
                    p На основе проведённого анализа для реализации проекта, специалисты ООО «ОблСтройИнвест» составляют план, в котором будут обозначены все необходимые разрешения и согласования, а также разработана «дорожная карта» для воплощения проекта в жизнь.
                      <br />
                      <br />
                      <span>В плане реализации проекта предусмотрены следующие ключевые этапы:</span>
                      <br />
                      <br />
                      | 01. Разработка и корректировка необходимой разрешительной документации, а также получение всех требуемых согласований;
                      <br />
                      | 02. Определение оптимальной структуры проектных, изыскательских, строительных и монтажных работ (разделение на пакеты, формирование оптимальных контрактных условий);
                      <br />
                      | 03. Описание организационной структуры с чётким распределением задач и ответственности между всеми участниками проекта: застройщиком, техническим заказчиком, генпроектировщиком, генподрядчиком и поставщиками оборудования;
                      <br />
                      | 04. Подробный график выполнения всех этапов проекта;
                      <br />
                      | 05. План идентификации, оценки и управления потенциальными рисками.

            .service-list__item
              .service-list__title
                p Оформление исходно-разрешительной документации

                svg.service-list__icon(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path.service-list__icon-cross(v-if="true" d="M16 6.67V25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")
                  path.service-list__icon-bar(d="M6.67 16H25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")

              .service-list__roster.is-collapsed
                .service-list__roster__item 
                  .service-list__roster__item__container 
                    p Успешная реализация любого строительного или реконструкционного проекта напрямую зависит от юридически правильного ведения градостроительных работ, что предполагает грамотное оформление всей разрешительной документации, где должны быть согласованы максимально возможные технические условия, ключевые экономические параметры, а также основные функции будущего объекта.
                      <br />
                      <br />
                      | Правоустанавливающие документы, а также материалы градостроительной и исходно-разрешительной документации, предоставляют Заказчику (застройщику) право на осуществление градостроительной деятельности на предоставленном земельном участке.
                      <br />
                      <br />
                      | Ключевым элементом комплекта исходно-разрешительной документации являются условия ресурсоснабжающих организаций на технологическое соединение с сетями энергоснабжения.
                      <br />
                      <br />
                      | Помимо основополагающих документов и разрешений, может понадобиться получение дополнительных согласований и оформление дополнительных материалов, что зависит от функционального назначения Объекта и типа строительства (новое строительство, реконструкция, реставрация, переоснащение, модернизация или капитальный ремонт).
                      <br />
                      <br />
                      | Комплект исходно-разрешительной документации (ИРД) представляет собой юридическую базу и ключевые исходные материалы, необходимые для разработки проектно-сметной документации.
                      <br />
                      | Эта документация обязательна для проведения экспертизы, получения разрешения на строительство, оформления заключения о соответствии построенного объекта и получения разрешения на ввод завершённого строительства объекта в эксплуатацию.
                      <br />
                      <br />
                      <span>Комплект ИРД</span>
                      <br />
                      <br />
                      | Базовый комплект исходно-разрешительной документации включает в себя:
                      <br />
                      <br />
                      | — документы, подтверждающие право собственности или аренды земельного участка;
                      <br />
                      | — утверждённую градостроительную документацию, включая материалы территориального планирования населённого пункта (Правила Землепользования и Застройки (ПЗЗ), Проект Планировки территории (ППТ), Проект Межевания территории (ПМТ));
                      <br />
                      | — градостроительный план земельного участка (ГПЗУ);
                      <br />
                      | — технические условия (ТУ) на подключение к инженерным сетям и улично-дорожной сети (УДС);
                      <br />
                      | — материалы инженерных изысканий, включая технические отчёты по результатам инженерно-геодезических, инженерно-геологических, инженерно-экологических, инженерно-гидрометеорологических, историко-культурных и археологических изысканий;
                      <br />
                      | — комплект исходно-разрешительной документации (ИРД) для объекта производственного назначения включает более широкий набор документов.
                      <br />
                      <br />
                      <span>Дополнительные требования к ИРД</span>
                      <br />
                      <br />
                      | По необходимости, в процессе оформления исходно-разрешительной документации от Технического заказчика может потребоваться разработка дополнительных материалов и получение актов и заключений, таких как:
                      <br />
                      <br />
                      | — согласование Росприроднадзором лимитов/квот на забор и сброс очищенных сточных вод;
                      <br />
                      | — сопровождение санитарно-эпидемиологической экспертизы с получением экспертного заключения и осуществление процедур по установлению или сокращению санитарно-защитной зоны (СЗЗ);
                      <br />
                      | — согласование сервитутов с владельцами соседних земельных участков;
                      <br />
                      | — проведение оценки воздействия на окружающую среду (ОВОС) и экологической экспертизы;
                      <br />
                      | — сопровождение разработки «Проекта планировки территории» (ППТ) и внесение изменений и дополнений в существующий ППТ;
                      <br />
                      | — акт обследования конструкций действующих зданий;
                      <br />
                      | — сопровождение подготовки градостроительного обоснования размещения строительного объекта;
                      <br />
                      | — сопровождение разработки «Проекта компенсационного озеленения» (ПКО) и получение соответствующих заключений;
                      <br />
                      | — подготовка дополнительных информационных справок, технических расчётов и экономических обоснований по запросу контролирующих и надзорных органов.
            
            .service-list__item
              .service-list__title
                p Проектирование

                svg.service-list__icon(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path.service-list__icon-cross(v-if="true" d="M16 6.67V25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")
                  path.service-list__icon-bar(d="M6.67 16H25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")

              .service-list__roster.is-collapsed
                .service-list__roster__item 
                  .service-list__roster__item__container 
                    p На этапе проектирования современного строительного проекта часто требуется участие множества специалистов, что приводит к необходимости формировать различные проектные команды и привлекать экспертов различной направленности для успешного завершения проекта и достижения целей заказчика. Поэтому эффективная координация работы всех участников проекта является критически важной для достижения желаемого результата в рамках установленного бюджета и сроков.
                      <br />
                      | Защита интересов клиента во взаимодействии со специализированными организациями, включая проектные, исследовательские, научные и экспертные учреждения.
                      <br />
                      <br />
                      | Управление процессом проектирования и последовательный мониторинг соответствия разрабатываемых проектов установленным ценовым параметрам объекта строительства.
                      <br />
                      <br />
                      | Обеспечение координации международных групп проектировщиков и содействие в успешном прохождении всех стадий согласования проектной документации.
                      <br />
                      <br />
                      | Тщательная и всесторонняя проверка всей разрабатываемой документации на предмет соответствия требованиям заказчика и экономической эффективности будущего объекта.
                      <br />
                      <br />
                      | Обеспечение всестороннего подхода к анализу и предварительной приёмке проектной документации для оценки практической реализуемости принятых проектных решений в условиях строительной площадки.
                      <br />
                      <br />
                      <span>Инженерные изыскания</span>
                      <br />
                      <br />
                      | Инженерные изыскания в строительстве представляют собой ключевой этап на стадии предпроектной подготовки, направленный на оценку физических характеристик земельного участка, а также природных и климатических условий, которые будут влиять на будущую постройку. Все виды таких изысканий и обследований строго регламентированы действующими нормативными документами и включают в себя несколько основных категорий:
                      <br />
                      <br />
                      | — Инженерно-геологические исследования, позволяющие выяснить состав и свойства грунтов.
                      <br />
                      | — Инженерно-геодезические работы, обеспечивающие точное определение местоположения и высотных отметок объекта.
                      <br />
                      | — Инженерно-гидрометеорологические изыскания, изучающие климатические условия и уровень подземных вод.
                      <br />
                      | — Инженерно-геотехнические исследования, нацеленные на анализ прочности и устойчивости грунтов.
                      <br />
                      | — Инженерно-экологические исследования, включая радиологические, для оценки экологического состояния территории.
                      <br />
                      | — Историко-культурные и археологические работы, необходимые для изучения культурных слоёв и сохранения исторического наследия.
                      <br />
                      | — Технические обследования существующих сооружений, что особенно важно для проектов на территориях, которые заброшенные, бездействующие или недостаточно используемые промышленные и коммерческие объектах, связанных с расширением, реконструкцией, реставрацией, адаптацией, техническим перевооружением или капитальным ремонтом.
                      <br />
                      <br />
                      | Каждый из этих этапов изысканий обеспечивает комплексное понимание условий, в которых будет реализовано строительство, что, в свою очередь, способствует принятию обоснованных проектных решений.
                      <br />
                      <br />
                      | Цели сопровождения инженерных изысканий:
                      <br />
                      | — Обеспечение соответствия проектных решений действующим нормативам и стандартам в строительстве.
                      <br />
                      | — Оптимизация проектных решений с учётом результатов проведённых изысканий.
                      <br />
                      | — Повышение уровня безопасности и надёжности разрабатываемых и строящихся объектов.
                      <br />
                      | — Предотвращение потенциальных проблем и рисков в ходе строительного процесса.
                      <br />
                      <br />
                      <span>Сопровождение разработки концепции</span>
                      <br />
                      <br />
                      | Подготовка к реализации строительства — включает в себя определение ключевых характеристик будущего объекта, таких как функциональные, технологические, конструктивные, архитектурные, инженерные и финансовые параметры. Для этого создаётся Архитектурно-инженерная концепция объекта, которая служит основой для дальнейших проектных и строительных работ.
                      <br />
                      <br />
                      | Этап работ:
                      <br />
                      | На этом этапе команда Технического заказчика ООО «ОблСтройИнвест» предоставляет участникам архитектурного конкурса или выбранному Генеральному проектировщику исходные исходные данные, тщательно подготовленное техническое задание и требования к BIM-моделированию.
                      <br />
                      <br />
                      | Этап разработки:
                      <br />
                      | В ходе формирования Концепции На этапе разработки Концепции Технический заказчик осуществляет проверку и оценку предложенных Архитектором проекта решений, а также совместно с Заказчиком выбирает наиболее оптимальные из них.
                      <br />
                      <br />
                      | В рамках концептуального проектирования рассматриваются различные варианты объёмно-планировочных решений, определяются возможные конструктивные схемы зданий, разрабатываются основные инженерно-технические решения, формируется общий облик будущих зданий и уточняется генеральный план территории.
                      <br />
                      <br />
                      | Итоговые результаты:
                      <br />
                      | По завершении работ утверждённый Заказчиком вариант архитектурной и инженерной концепции служит основой для подготовки Технического задания на стадии Проектной документации и определения бюджета строительства объекта.
                      <br />
                      <br />
                      <span>Сопровождение разработки градостроительной документации</span>
                      <br />
                      <br />
                      | Ключевые обязанности ООО «ОблсСтройИнвест» в сфере организации строительных процессов включают следующие направления:
                      <br />
                      <br />
                      | — Обеспечение слаженного взаимодействия между Генеральным подрядчиком, Генеральным проектировщиком, специализированными субподрядными организациями, поставщиками материалов и оборудования, а также другими участниками строительной деятельности.
                      <br />
                      | — Мониторинг соблюдения утверждённых сроков выполнения работ, контроль наличия необходимых материальных ресурсов и техники, а также квалифицированной рабочей силы в соответствии с запланированными показателями в графиках СМР, ПОС и ППР.
                      <br />
                      | — Контроль технологий выполнения строительно-монтажных работ, операционная проверка объёмов и качества выполненных работ, приёмка готовых элементов и конструкций, а также проверка исполнительной документации для формирования «папки ЗОС».
                      <br />
                      | — Надзор за выполнением работ повышенной опасности с соблюдением всех специальных требований и нормативов безопасности.
                      <br />
                      | — Координация общестроительных работ с монтажом инженерного и технологического оборудования, контроль правильности проведения испытаний и пусконаладочных процедур.
                      <br />
                      | — Организация и контроль проведения индивидуальных и комплексных испытаний оборудования и систем жизнеобеспечения.
                      <br />
                      | — Проведение регулярных совещаний для обсуждения технических и проектных вопросов, ведение протоколов встреч и контроль их исполнения, а также обеспечение своевременного внесения информации в Среду Общих Данных и соблюдение регламентов взаимодействия участников проекта.
                      <br />
                      <br />
                      <span>Сопровождение разработки Проектной документации</span>
                      <br />
                      <br />
                      | Опираясь на утверждённые Заказчиком архитектурную и инженерную концепции, а также на установленный Целевой Бюджет строительства, мы приступаем к следующему этапу проектирования Объекта — созданию Проектной документации
                      <br />
                      <br />
                      | — Участвуем в создании Технического задания на проектирование.
                      <br />
                      | Работа начинается с совместной разработки и согласования с Заказчиком подробного Технического задания на проектирование, в котором чётко прописаны требования к функционально-технологическим характеристикам будущего объекта, уровню используемого оборудования и материалов, а также степени детализации и содержанию BIM-модели объекта.
                      <br />
                      | — Обеспечиваем контроль качества проектирования
                      <br />
                      | В ходе подготовки проектной документации инженерная команда технического заказчика ООО «ОблсСтройИнвест» осуществляет тщательный контроль качества проектных решений, проводит промежуточные проверки и принимает результаты работы на каждом этапе. Особое внимание уделяется соответствию проектных решений Техническому заданию Заказчика, целевому бюджету, технической реализуемости с учётом особенностей площадки и логистических ограничений, функциональным требованиям эксплуатации, достижению заданных параметров объекта (ТЭПы, уровень инженерных решений, стоимость), а также выявлению и устранению коллизий и согласованию элементов 3D BIM-модели. Контролируется качество технических решений и удобство последующего использования пространства.
                      <br />
                      | — Контролируем стоимость технических и инженерных решений
                      <br />
                      | Для соблюдения целевого бюджета, группа технического заказчика ООО «ОблсСтройИнвест» постоянно отслеживает стоимость принимаемых технических и инженерных решений, учитывая доступность импортного оборудования и материалов.
                      <br />
                      | — Формируем полный пакет документов для подачи на экспертизу
                      <br />
                      | По окончании разработки проектной документации специалисты ООО «ОблсСтройИнвест» подготавливают полный пакет документов, необходимый для подачи на экспертизу.
                      <br />
                      <br />
                      <span>Экспертиза проектной документации и инженерных изысканий</span>
                      <br />
                      <br />
                      | Перед передачей проектной документации в государственную или негосударственную экспертизу команда технического заказчика ООО «ОблсСтройИнвест» проводит консультации с экспертами, что позволяет заранее устранить большинство замечаний и обеспечить положительное заключение по проектной документации и результатам инженерных изысканий.
                      <br />
                      <br />
                      | Специалисты ООО «ОблсСтройИнвест» также осуществляют взаимодействие с органами исполнительной власти и надзорными инстанциями по всем вопросам, возникающим в процессе согласования исходной, разрешительной и проектной документации, необходимой для строительства объекта.
                      <br />
                      <br />
                      <span>Сопровождение рабочей документации</span>
                      <br />
                      <br />
                      | ООО «ОблсСтройИнвест» организует выполнение комплекса мероприятий по подготовки к строительным работам, включающих следующие этапы:
                      <br />
                      <br />
                      | — разработка и согласование с Заказчиком Технического задания на создание Рабочей документации;
                      <br />
                      | — контроль соблюдения сроков разработки и передачи Рабочей документации в производство;
                      <br />
                      | — проверка Рабочей документации на соответствие утверждённой Проектной документации,
                      <br />
                      | — требованиям Технического задания и нормативно-правовым актам;
                      <br />
                      | — оценка полноты, комплектности и достаточности чертежей Рабочей документации для выполнения строительно-монтажных работ;
                      <br />
                      | — регулярный мониторинг наполнения и детализации BIM-модели, соответствующей стадии «РД»
                      <br />
                      | — выявление дефектов, несоответствий и недочётов в Рабочей документации, а также контроль их своевременного исправления;
                      <br />
                      | ведение реестра получаемой от проектировщиков Рабочей документации с учётом её статуса:
                      <br />
                      | — в процессе разработки, на проверке, на доработке, передана в производство работ, а также формирование остаточного объёма задач по разработке Рабочей документации до завершения строительства.

            .service-list__item
              .service-list__title
                p Получение разрешения на строительство

                svg.service-list__icon(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path.service-list__icon-cross(v-if="true" d="M16 6.67V25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")
                  path.service-list__icon-bar(d="M6.67 16H25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")

              .service-list__roster.is-collapsed
                .service-list__roster__item 
                  .service-list__roster__item__container 
                    p Разрешение на строительство представляет собой официальный документ, который подтверждает соответствие проектной документации требованиям градостроительного регламента и градостроительного плана земельного участка (ГПЗУ). Этот документ даёт право собственнику земельного участка привлечь генерального подрядчика для проведения строительных или реконструкционных работ на объектах недвижимости.
                      <br />
                      <br />
                      <span>Этапы:</span>
                      <br />
                      <br />
                      | — Подача заявления
                      <br />
                      | Процесс получения разрешения на строительство начинается с подачи заявления в соответствующий орган исполнительной власти — федеральный, региональный или местный.
                      <br />
                      <br />
                      |  - Получение разрешения на строительство
                      <br />
                      | Уполномоченный орган рассматривает представленные документы в течение 5 рабочих дней с момента их получения и принимает решение о выдаче разрешения на строительство либо об отказе с указанием причин.
                      <br />
                      <br />
                      | — Уведомление органов строительного надзора
                      <br />
                      | В случаях, предусмотренных законодательством, Застройщик обязан уведомить федеральный или региональный орган, ответственный за государственный строительный надзор, о получении разрешения на строительство.

            .service-list__item
              .service-list__title
                p Управление строительством

                svg.service-list__icon(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path.service-list__icon-cross(v-if="true" d="M16 6.67V25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")
                  path.service-list__icon-bar(d="M6.67 16H25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")

              .service-list__roster.is-collapsed
                .service-list__roster__item 
                  .service-list__roster__item__container 
                    p ООО «ОблсСтройИнвест» создаёт для каждого объекта оптимальный состав команды, разрабатывает эффективную структуру управления, устанавливает регламенты взаимодействия и внедряет адаптированные информационные системы документооборота, полностью учитывающие специфику целей проекта и бизнес-задачи Заказчика.
                      <br />
                      <br />
                      <span>Основные задачи которые ООО «ОблсСтройИнвест» выполняет:</span>
                      <br />
                      <br />
                      | — Разработка плана реализации проекта, обеспечивающего последовательное и эффективное выполнение всех этапов строительства;
                      <br />
                      | — Управление контрактами с подрядчиками и поставщиками для обеспечения соблюдения сроков и качества работ;
                      <br />
                      | — Подготовка строительной площадки к началу строительно-монтажных работ, включая организацию необходимых коммуникаций и обеспечение безопасности;
                      <br />
                      | — Организация и управление строительно-монтажными работами с контролем выполнения проектных требований;
                      <br />
                      | — Контроль соблюдения норм охраны труда и техники безопасности на всех этапах строительства;
                      <br />
                      | — Проверка и выдача в производство работ актуальной Рабочей Документации;
                      <br />
                      | — Проведение строительного контроля для обеспечения соответствия выполняемых работ проектной документации и нормативам;
                      <br />
                      | — Геодезический контроль с применением современных методов и оборудования;
                      <br />
                      | — Использование цифровых измерений для повышения точности и оперативности контроля;
                      <br />
                      | — Проверка и комплектация исполнительной документации для сдачи объекта в эксплуатацию;
                      <br />
                      | — Организация ввода объекта в эксплуатацию с соблюдением всех нормативных требований;
                      <br />
                      | — Внедрение BIM и цифровых технологий для оптимизации процессов проектирования, строительства и эксплуатации;
                      <br />
                      | — Организация системы электронного документооборота (СОД) на строительной площадке для повышения прозрачности и оперативности коммуникаций;
                      <br />
                      | — Формирование исполнительной 3D модели объекта для передачи в эксплуатацию и дальнейшего использования.

            .service-list__item
              .service-list__title
                p Ввод в эксплуатацию

                svg.service-list__icon(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path.service-list__icon-cross(v-if="true" d="M16 6.67V25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")
                  path.service-list__icon-bar(d="M6.67 16H25.33" stroke="#243984" stroke-width="4" stroke-linecap="round")

              .service-list__roster.is-collapsed
                .service-list__roster__item 
                  .service-list__roster__item__container 
                    p Пуско-наладочные работы представляют собой комплекс мероприятий, выполняемых квалифицированными инженерами и специалистами технического обслуживания на этапе запуска нового объекта или после проведения модернизации существующего производства.
                      <br />
                      | После настройки и проверки исправности оборудования и технических систем формируется необходимая документация, обеспечивающая последующее оформление ввода объекта в эксплуатацию.
                      <br />
                      <br />
                      | Высокая квалификация специалистов по пуско-наладочным работам обеспечивает безопасную и стабильную работу всего оборудования и инженерных систем в процессе эксплуатации.
                      <br />
                      <br />
                      | 01. Этап работ:
                      <br />
                      <br />
                      <span>Пуско-наладочные работы (ПНР)</span>
                      <br />
                      <br />
                      | В рамках пуско-наладочного этапа команда строительного контроля ООО «Облстройинвест» выполняет следующие задачи:
                      <br />
                      <br />
                      | — проверяет наличие и содержание программ пуско-наладочных работ, а также регламентов испытаний и комплексного тестирования оборудования;
                      <br />
                      | — организует и контролирует выполнение комплексных испытаний и опробований оборудования и систем жизнеобеспечения объекта, проводимых генеральным подрядчиком и субподрядчиками;
                      <br />
                      | — контролирует соответствие выполненных пуско-наладочных мероприятий, приёмочных испытаний и холодного пуска технологического оборудования утверждённым программам;
                      <br />
                      | — участвует в проверке квалификации функционирования (Operation Qualification — OQ), подтверждающей достижение проектной мощности систем, оборудования и технологических линий в различных режимах работы согласно заданным параметрам.
                      <br />
                      <br />
                      | 02. Этап работ:
                      <br />
                      <br />
                      <span>После завершения пуско-наладочных работ (ПНР)</span>
                      <br />
                      <br />
                      | По окончании ПНР группа управления строительством ООО «Облстройинвест» организует процесс получения разрешительной документации, включая:
                      <br />
                      <br />
                      | — проведение приёмочной комиссии по завершённым строительно-монтажным работам с участием представителей Госстройнадзора, Заказчика и подрядных организаций;
                      <br />
                      | — контроль устранения замечаний и предписаний, выявленных строительным контролем и рабочей приёмочной комиссией, со стороны генерального подрядчика и субподрядчиков;
                      <br />
                      | — подготовку полного пакета документов для подачи заявлений на получение «Заключения о соответствии построенного объекта капитального строительства требованиям технических регламентов и проектной документации» (ЗОС) и Разрешения на ввод объекта в эксплуатацию (РнВ).