extends ../layouts/main

block content
  .user-agreement.container
    .user-agreement__title 
      p Пользовательское соглашение
    .user-agreement__list
      .user-agreement__list__item 
        .title 
          p 1. Общие положения
        .description 
          p <span>1.1.</span> Настоящая Политика определяет порядок обработки и защиты персональных данных пользователей сайта ООО «ОблСтройИнвест».<br /><br />
            | <span>1.2.</span> Персональные данные обрабатываются в соответствии с действующим законодательством Российской Федерации.<br /><br />
            | <span>1.3.</span> Использование сайта означает согласие пользователя с настоящей Политикой и условиями обработки данных.<br /><br />
            | <span>1.4.</span> Настоящая Политика устанавливает особенности обработки Организацией данных при использовании пользователем сервисов Сайта.<br /><br />
            | <span>1.5.</span> В рамках настоящей Политики используются следующие основные понятия:<br /><br />
          ul
            li персональные данные — любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных);
            li конфиденциальность персональных данных — обязательство оператора обеспечить защиту персональных данных от несанкционированного доступа;
            li обработка персональных данных — любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без их использования;
            li оператор персональных данных (оператор) — юридическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными. В настоящей Политике под оператором понимается ООО «ОблСтройИнвест», расположенное по адресу: 107076, г. Москва, ул. Богородский вал, д. 3, стр. 32, пом. VI.;
            li пользователь — лицо, направившее Организации персональные данные, посредством заполнения специальной формы на сайте;
            li посетитель — лицо, осуществившее переход на страницу сайта Организации, но не передавшее персональные данные Организации;
            li автоматизированная обработка персональных данных — обработка персональных данных с помощью средств вычислительной техники;
            li распространение персональных данных — действия, направленные на раскрытие персональных данных неопределенному кругу лиц;
            li блокирование персональных данных — временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
            li уничтожение персональных данных — действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных;
            li информационная система персональных данных — совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств;
            li предоставление персональных данных — действия, направленные на раскрытие персональных данных в случаях, установленных законодательством РФ;
            li обезличивание персональных данных — действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных;
            li данные файлов cookie — данные, которые автоматически передаются Организации сервисами в процессе их использования с помощью установленного на устройстве программного обеспечения, в том числе информация из cookie, информация об устройстве пользователя/посетителя.
      .user-agreement__list__item 
        .title 
          p 2. Объем обрабатываемых персональных данныхи Субъекты обработки
        .description 
          p В рамках Политики персональной информацией пользователя признается:
            |
            | <span>2.1.</span> Персональная информация, которую пользователь предоставляет о себе самостоятельно в процессе использования сервисов, либо которые Организация получает иным образом, включая персональные данные пользователя: адрес элекгронноЙ почты; фамилия, имя, отчество; номер телефона; регион и город проживания; возраст; дата рождения.<br /><br />
            | 
            | <span>2.2.</span> К субъектам персональных данных для целей Политики относятся: 
          ul 
            li пользователи, посетители сайта Организации; 
            li работники, бывшие работники, кандидаты на замещение 2 вакантных должностей Организации и иные контрагенты Организации; 
            li представители/работники иных контрагентов Организации.
          p
            | <br />
            | <span>2.3.</span> Организация использует данные файлов cookie (сооюе-файлы) и аналогичные технологии для отслеживания активности и хранения информации.<br /><br />
            | 
            | <span>2.4.</span> Пользователь/посетитель может отказаться от всех сооюе-файлов (при изменении настроек браузера, а также при изменении настроек сервиса при наличии технической возможности). При отказе от использования сооКе-файлов пользователь/посетитель соглашается с тем, что некоторые части (функции) сервисов могут быть ему недоступны для использования.<br /><br />
            | 
            | <span>2.5.</span> Иная информация о пользователе/посетителе, обработка которой предусмотрена согласием на обработку персональных данных пользователя/посетителя.<br /><br />

      .user-agreement__list__item 
        .title 
          p 3. цели сбора и обработки персональной информации пользователей
        .description 
          p <span>3.1.</span> Организация собирает и хранит только ту персональную информацию, которая необходима для предоставления сервисов пользователям, или обрабатывается с согласия на обработку персональных данных, как указано в п. 3.2 Политики, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.<br /><br />
            |
            | <span>3.2.</span> Организация осуществляет обработку персональной информации пользователя, включая сбор, получение, систематизацию, накопление, хранение, уточнение, (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), блокирование, удаление, уничтожение как с использованием средств автоматизации, так и без использования таких средств, а также путем смешанной обработки в следующих целях:<br /><br />
            | 
            | <span>3.2.1.</span> Идентификация пользователя, для предоставление пользователю доступа к персонализированным ресурсам сервисов.<br />
            | <span>3.2.2.</span> Предоставление информации об услугах Организации, информации об Организации;<br />
            | <span>3.2.3.</span> Установление с пользователем обратной связи, включая направление уведомлений, запросов, обработку запросов и заявок от пользователя.<br />
            | <span>3.2.4.</span> Определение места нахождения пользователя для обеспечения безопасности, предотвращения мошенничества.<br />
            | <span>3.2.5.</span> Подтверждение достоверности и полноты персональных данных, предоставленных пользователем.<br />
            | <span>3.2.6.</span> Предоставление пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием сервисов.<br />
            | <span>3.2.7.</span> Мониторинг использования сервисов;<br />
            | <span>3.2.8.</span> Улучшение качества обслуживания и работы сервисов, удобства их использования, разработка новых сервисов и услуг.<br />
            | <span>3.2.9.</span> Анализ пользовательских данных, проведение статистических и иных исследований взаимодействия пользователя с Организацией и третьими лицами.<br />
            | <span>3.2.10.</span> В иных целях, которые могут быть предусмотрены согласием на обработку персональных данных, а также законодательством РФ.
    .user-agreement__buttons
      +button('на главную', 'primary')
      +button('скачать файл', 'outline', '/#', 'download')
